# Ejercicios Pandas DataFrames 02

Carga el dataset de vuelos "flights14.csv"

In [3]:
import pandas as pd
df = pd.read_csv('../../data/flights14.csv', index_col=0)
print(df.head())
df.info()

   year  month  day  dep_delay  arr_delay carrier origin dest  air_time  \
1  2014      1    1         14         13      AA    JFK  LAX       359
2  2014      1    1         -3         13      AA    JFK  LAX       363
3  2014      1    1          2          9      AA    JFK  LAX       351
4  2014      1    1         -8        -26      AA    LGA  PBI       157
5  2014      1    1          2          1      AA    JFK  LAX       350

   distance  hour
1      2475     9
2      2475    11
3      2475    19
4      1035     7
5      2475    13
<class 'pandas.core.frame.DataFrame'>
Index: 253316 entries, 1 to 253316
Data columns (total 11 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   year       253316 non-null  int64
 1   month      253316 non-null  int64
 2   day        253316 non-null  int64
 3   dep_delay  253316 non-null  int64
 4   arr_delay  253316 non-null  int64
 5   carrier    253316 non-null  object
 6   origin     253316 non-null  object
 7   dest       253316 non-null  object
 8   air_time   253316 non-null  int64
 9   distance   253316 non-null  int64
 10  hour       253316 non-null  int64
dtypes: int64(8), object(3)
memory usage: 23.2+ MB

1. escribe un programa Pandas para dividir los datos basados en origen u destino. Muestra cada grupo y el n√∫mero de elementos por grupo

In [4]:
gdf = df.groupby(['origin', 'dest'])
print(gdf.groups.keys())

for g, vals in gdf.groups.items():
    print('grupo:', g, len(vals))

dict_keys([('EWR', 'ALB'), ('EWR', 'ANC'), ('EWR', 'ATL'), ('EWR', 'AUS'), ('EWR', 'AVL'), ('EWR', 'AVP'), ('EWR', 'BDL'), ('EWR', 'BNA'), ('EWR', 'BOS'), ('EWR', 'BQN'), ('EWR', 'BTV'), ('EWR', 'BUF'), ('EWR', 'BWI'), ('EWR', 'BZN'), ('EWR', 'CAE'), ('EWR', 'CHS'), ('EWR', 'CLE'), ('EWR', 'CLT'), ('EWR', 'CMH'), ('EWR', 'CVG'), ('EWR', 'DAY'), ('EWR', 'DCA'), ('EWR', 'DEN'), ('EWR', 'DFW'), ('EWR', 'DSM'), ('EWR', 'DTW'), ('EWR', 'EGE'), ('EWR', 'FLL'), ('EWR', 'GRR'), ('EWR', 'GSO'), ('EWR', 'GSP'), ('EWR', 'HDN'), ('EWR', 'HNL'), ('EWR', 'HOU'), ('EWR', 'IAD'), ('EWR', 'IAH'), ('EWR', 'IND'), ('EWR', 'JAC'), ('EWR', 'JAX'), ('EWR', 'LAS'), ('EWR', 'LAX'), ('EWR', 'MCI'), ('EWR', 'MCO'), ('EWR', 'MDT'), ('EWR', 'MDW'), ('EWR', 'MEM'), ('EWR', 'MHT'), ('EWR', 'MIA'), ('EWR', 'MKE'), ('EWR', 'MSN'), ('EWR', 'MSP'), ('EWR', 'MSY'), ('EWR', 'MTJ'), ('EWR', 'OKC'), ('EWR', 'OMA'), ('EWR', 'ORD'), ('EWR', 'ORF'), ('EWR', 'PBI'), ('EWR', 'PDX'), ('EWR', 'PHL'), ('EWR', 'PHX'), ('EWR', 'PIT'), ('EWR', 'PVD'), ('EWR', 'PWM'), ('EWR', 'RDU'), ('EWR', 'RIC'), ('EWR', 'ROC'), ('EWR', 'RSW'), ('EWR', 'SAN'), ('EWR', 'SAT'), ('EWR', 'SAV'), ('EWR', 'SBN'), ('EWR', 'SDF'), ('EWR', 'SEA'), ('EWR', 'SFO'), ('EWR', 'SJU'), ('EWR', 'SLC'), ('EWR', 'SNA'), ('EWR', 'STL'), ('EWR', 'STT'), ('EWR', 'SYR'), ('EWR', 'TPA'), ('EWR', 'TUL'), ('EWR', 'TVC'), ('EWR', 'TYS'), ('EWR', 'XNA'), ('JFK', 'ABQ'), ('JFK', 'ACK'), ('JFK', 'ATL'), ('JFK', 'AUS'), ('JFK', 'BNA'), ('JFK', 'BOS'), ('JFK', 'BQN'), ('JFK', 'BTV'), ('JFK', 'BUF'), ('JFK', 'BUR'), ('JFK', 'BWI'), ('JFK', 'CHS'), ('JFK', 'CLE'), ('JFK', 'CLT'), ('JFK', 'CMH'), ('JFK', 'CVG'), ('JFK', 'DCA'), ('JFK', 'DEN'), ('JFK', 'DFW'), ('JFK', 'DTW'), ('JFK', 'EGE'), ('JFK', 'FLL'), ('JFK', 'HNL'), ('JFK', 'HOU'), ('JFK', 'HYA'), ('JFK', 'IAD'), ('JFK', 'IAH'), ('JFK', 'IND'), ('JFK', 'JAC'), ('JFK', 'JAX'), ('JFK', 'LAS'), ('JFK', 'LAX'), ('JFK', 'LGB'), ('JFK', 'MCO'), ('JFK', 'MIA'), ('JFK', 'MSP'), ('JFK', 'MSY'), ('JFK', 'MVY'), ('JFK', 'OAK'), ('JFK', 'ORD'), ('JFK', 'ORF'), ('JFK', 'PBI'), ('JFK', 'PDX'), ('JFK', 'PHL'), ('JFK', 'PHX'), ('JFK', 'PIT'), ('JFK', 'PSE'), ('JFK', 'PSP'), ('JFK', 'PWM'), ('JFK', 'RDU'), ('JFK', 'ROC'), ('JFK', 'RSW'), ('JFK', 'SAN'), ('JFK', 'SAT'), ('JFK', 'SAV'), ('JFK', 'SEA'), ('JFK', 'SFO'), ('JFK', 'SJC'), ('JFK', 'SJU'), ('JFK', 'SLC'), ('JFK', 'SMF'), ('JFK', 'SRQ'), ('JFK', 'STT'), ('JFK', 'SYR'), ('JFK', 'TPA'), ('LGA', 'AGS'), ('LGA', 'ATL'), ('LGA', 'AVL'), ('LGA', 'BGR'), ('LGA', 'BHM'), ('LGA', 'BNA'), ('LGA', 'BOS'), ('LGA', 'BTV'), ('LGA', 'BUF'), ('LGA', 'BZN'), ('LGA', 'CAE'), ('LGA', 'CAK'), ('LGA', 'CHO'), ('LGA', 'CHS'), ('LGA', 'CLE'), ('LGA', 'CLT'), ('LGA', 'CMH'), ('LGA', 'CVG'), ('LGA', 'DAL'), ('LGA', 'DAY'), ('LGA', 'DCA'), ('LGA', 'DEN'), ('LGA', 'DFW'), ('LGA', 'DSM'), ('LGA', 'DTW'), ('LGA', 'EYW'), ('LGA', 'FLL'), ('LGA', 'GRR'), ('LGA', 'GSO'), ('LGA', 'GSP'), ('LGA', 'HOU'), ('LGA', 'IAD'), ('LGA', 'IAH'), ('LGA', 'ILM'), ('LGA', 'IND'), ('LGA', 'JAX'), ('LGA', 'LIT'), ('LGA', 'MCI'), ('LGA', 'MCO'), ('LGA', 'MDW'), ('LGA', 'MEM'), ('LGA', 'MHT'), ('LGA', 'MIA'), ('LGA', 'MKE'), ('LGA', 'MSN'), ('LGA', 'MSP'), ('LGA', 'MSY'), ('LGA', 'MYR'), ('LGA', 'OMA'), ('LGA', 'ORD'), ('LGA', 'ORF'), ('LGA', 'PBI'), ('LGA', 'PHL'), ('LGA', 'PIT'), ('LGA', 'PWM'), ('LGA', 'RDU'), ('LGA', 'RIC'), ('LGA', 'ROA'), ('LGA', 'ROC'), ('LGA', 'RSW'), ('LGA', 'SAV'), ('LGA', 'SBN'), ('LGA', 'SDF'), ('LGA', 'SRQ'), ('LGA', 'STL'), ('LGA', 'SYR'), ('LGA', 'TPA'), ('LGA', 'TVC'), ('LGA', 'TYS'), ('LGA', 'XNA')])
grupo: ('EWR', 'ALB') 169
grupo: ('EWR', 'ANC') 13
grupo: ('EWR', 'ATL') 4182
grupo: ('EWR', 'AUS') 568
grupo: ('EWR', 'AVL') 145
grupo: ('EWR', 'AVP') 1
grupo: ('EWR', 'BDL') 210
grupo: ('EWR', 'BNA') 1797
grupo: ('EWR', 'BOS') 4268
grupo: ('EWR', 'BQN') 251
grupo: ('EWR', 'BTV') 300
grupo: ('EWR', 'BUF') 334
grupo: ('EWR', 'BWI') 185
grupo: ('EWR', 'BZN') 51
grupo: ('EWR', 'CAE') 21
grupo: ('EWR', 'CHS') 986
grupo: ('EWR', 'CLE') 1171
grupo: ('EWR', 'CLT') 3921
grupo: ('EWR', 'CMH') 763
grupo: ('EWR', 'CVG') 1187
grupo: ('EWR', 'DAY') 566
grupo: ('EWR', 'DCA') 1309
grupo: ('EWR', 'DEN') 2243
grupo: ('EWR', 'DFW') 2224
grupo: ('EWR', 'DSM') 179
grupo: ('EWR', 'DTW') 2149
grupo: ('EWR', 'EGE') 80
grupo: ('EWR', 'FLL') 2909
grupo: ('EWR', 'GRR') 490
grupo: ('EWR', 'GSO') 644
grupo: ('EWR', 'GSP') 518
grupo: ('EWR', 'HDN') 13
grupo: ('EWR', 'HNL') 301
grupo: ('EWR', 'HOU') 784
grupo: ('EWR', 'IAD') 629
grupo: ('EWR', 'IAH') 3073
grupo: ('EWR', 'IND') 1239
grupo: ('EWR', 'JAC') 19
grupo: ('EWR', 'JAX') 998
grupo: ('EWR', 'LAS') 1555
grupo: ('EWR', 'LAX') 4226
grupo: ('EWR', 'MCI') 995
grupo: ('EWR', 'MCO') 4164
grupo: ('EWR', 'MDT') 5
grupo: ('EWR', 'MDW') 1537
grupo: ('EWR', 'MEM') 660
grupo: ('EWR', 'MHT') 324
grupo: ('EWR', 'MIA') 2094
grupo: ('EWR', 'MKE') 676
grupo: ('EWR', 'MSN') 280
grupo: ('EWR', 'MSP') 1485
grupo: ('EWR', 'MSY') 982
grupo: ('EWR', 'MTJ') 12
grupo: ('EWR', 'OKC') 223
grupo: ('EWR', 'OMA') 544
grupo: ('EWR', 'ORD') 3272
grupo: ('EWR', 'ORF') 211
grupo: ('EWR', 'PBI') 1874
grupo: ('EWR', 'PDX') 418
grupo: ('EWR', 'PHL') 7
grupo: ('EWR', 'PHX') 2002
grupo: ('EWR', 'PIT') 353
grupo: ('EWR', 'PVD') 169
grupo: ('EWR', 'PWM') 392
grupo: ('EWR', 'RDU') 741
grupo: ('EWR', 'RIC') 1183
grupo: ('EWR', 'ROC') 504
grupo: ('EWR', 'RSW') 1160
grupo: ('EWR', 'SAN') 884
grupo: ('EWR', 'SAT') 205
grupo: ('EWR', 'SAV') 557
grupo: ('EWR', 'SBN') 6
grupo: ('EWR', 'SDF') 529
grupo: ('EWR', 'SEA') 1364
grupo: ('EWR', 'SFO') 4539
grupo: ('EWR', 'SJU') 949
grupo: ('EWR', 'SLC') 285
grupo: ('EWR', 'SNA') 657
grupo: ('EWR', 'STL') 1740
grupo: ('EWR', 'STT') 174
grupo: ('EWR', 'SYR') 86
grupo: ('EWR', 'TPA') 1833
grupo: ('EWR', 'TUL') 201
grupo: ('EWR', 'TVC') 20
grupo: ('EWR', 'TYS') 238
grupo: ('EWR', 'XNA') 195
grupo: ('JFK', 'ABQ') 278
grupo: ('JFK', 'ACK') 277
grupo: ('JFK', 'ATL') 1701
grupo: ('JFK', 'AUS') 1370
grupo: ('JFK', 'BNA') 284
grupo: ('JFK', 'BOS') 4111
grupo: ('JFK', 'BQN') 535
grupo: ('JFK', 'BTV') 1004
grupo: ('JFK', 'BUF') 2164
grupo: ('JFK', 'BUR') 289
grupo: ('JFK', 'BWI') 282
grupo: ('JFK', 'CHS') 587
grupo: ('JFK', 'CLE') 280
grupo: ('JFK', 'CLT') 2272
grupo: ('JFK', 'CMH') 576
grupo: ('JFK', 'CVG') 282
grupo: ('JFK', 'DCA') 1686
grupo: ('JFK', 'DEN') 579
grupo: ('JFK', 'DFW') 474
grupo: ('JFK', 'DTW') 198
grupo: ('JFK', 'EGE') 85
grupo: ('JFK', 'FLL') 3258
grupo: ('JFK', 'HNL') 260
grupo: ('JFK', 'HOU') 570
grupo: ('JFK', 'HYA') 75
grupo: ('JFK', 'IAD') 1604
grupo: ('JFK', 'IAH') 7
grupo: ('JFK', 'IND') 278
grupo: ('JFK', 'JAC') 1
grupo: ('JFK', 'JAX') 843
grupo: ('JFK', 'LAS') 3355
grupo: ('JFK', 'LAX') 10208
grupo: ('JFK', 'LGB') 526
grupo: ('JFK', 'MCO') 4467
grupo: ('JFK', 'MIA') 2750
grupo: ('JFK', 'MSP') 458
grupo: ('JFK', 'MSY') 908
grupo: ('JFK', 'MVY') 159
grupo: ('JFK', 'OAK') 247
grupo: ('JFK', 'ORD') 1265
grupo: ('JFK', 'ORF') 282
grupo: ('JFK', 'PBI') 1362
grupo: ('JFK', 'PDX') 725
grupo: ('JFK', 'PHL') 1
grupo: ('JFK', 'PHX') 1784
grupo: ('JFK', 'PIT') 384
grupo: ('JFK', 'PSE') 289
grupo: ('JFK', 'PSP') 17
grupo: ('JFK', 'PWM') 1076
grupo: ('JFK', 'RDU') 1770
grupo: ('JFK', 'ROC') 1036
grupo: ('JFK', 'RSW') 856
grupo: ('JFK', 'SAN') 1402
grupo: ('JFK', 'SAT') 242
grupo: ('JFK', 'SAV') 514
grupo: ('JFK', 'SEA') 1815
grupo: ('JFK', 'SFO') 7368
grupo: ('JFK', 'SJC') 252
grupo: ('JFK', 'SJU') 4027
grupo: ('JFK', 'SLC') 1706
grupo: ('JFK', 'SMF') 246
grupo: ('JFK', 'SRQ') 370
grupo: ('JFK', 'STT') 450
grupo: ('JFK', 'SYR') 937
grupo: ('JFK', 'TPA') 2019
grupo: ('LGA', 'AGS') 3
grupo: ('LGA', 'ATL') 6925
grupo: ('LGA', 'AVL') 2
grupo: ('LGA', 'BGR') 274
grupo: ('LGA', 'BHM') 124
grupo: ('LGA', 'BNA') 2600
grupo: ('LGA', 'BOS') 3230
grupo: ('LGA', 'BTV') 229
grupo: ('LGA', 'BUF') 169
grupo: ('LGA', 'BZN') 15
grupo: ('LGA', 'CAE') 382
grupo: ('LGA', 'CAK') 708
grupo: ('LGA', 'CHO') 329
grupo: ('LGA', 'CHS') 574
grupo: ('LGA', 'CLE') 2111
grupo: ('LGA', 'CLT') 3431
grupo: ('LGA', 'CMH') 1816
grupo: ('LGA', 'CVG') 78
grupo: ('LGA', 'DAL') 15
grupo: ('LGA', 'DAY') 490
grupo: ('LGA', 'DCA') 3753
grupo: ('LGA', 'DEN') 2939
grupo: ('LGA', 'DFW') 3789
grupo: ('LGA', 'DSM') 1
grupo: ('LGA', 'DTW') 3663
grupo: ('LGA', 'EYW') 32
grupo: ('LGA', 'FLL') 3304
grupo: ('LGA', 'GRR') 266
grupo: ('LGA', 'GSO') 868
grupo: ('LGA', 'GSP') 3
grupo: ('LGA', 'HOU') 905
grupo: ('LGA', 'IAD') 1091
grupo: ('LGA', 'IAH') 2346
grupo: ('LGA', 'ILM') 223
grupo: ('LGA', 'IND') 49
grupo: ('LGA', 'JAX') 67
grupo: ('LGA', 'LIT') 204
grupo: ('LGA', 'MCI') 406
grupo: ('LGA', 'MCO') 3078
grupo: ('LGA', 'MDW') 1937
grupo: ('LGA', 'MEM') 3
grupo: ('LGA', 'MHT') 146
grupo: ('LGA', 'MIA') 5084
grupo: ('LGA', 'MKE') 1176
grupo: ('LGA', 'MSN') 188
grupo: ('LGA', 'MSP') 2220
grupo: ('LGA', 'MSY') 738
grupo: ('LGA', 'MYR') 11
grupo: ('LGA', 'OMA') 87
grupo: ('LGA', 'ORD') 7052
grupo: ('LGA', 'ORF') 1014
grupo: ('LGA', 'PBI') 2307
grupo: ('LGA', 'PHL') 702
grupo: ('LGA', 'PIT') 262
grupo: ('LGA', 'PWM') 131
grupo: ('LGA', 'RDU') 2499
grupo: ('LGA', 'RIC') 1135
grupo: ('LGA', 'ROA') 125
grupo: ('LGA', 'ROC') 254
grupo: ('LGA', 'RSW') 569
grupo: ('LGA', 'SAV') 368
grupo: ('LGA', 'SBN') 2
grupo: ('LGA', 'SDF') 542
grupo: ('LGA', 'SRQ') 496
grupo: ('LGA', 'STL') 2065
grupo: ('LGA', 'SYR') 332
grupo: ('LGA', 'TPA') 1852
grupo: ('LGA', 'TVC') 36
grupo: ('LGA', 'TYS') 167
grupo: ('LGA', 'XNA') 441

In [5]:
agdf = gdf.agg({'year': 'count'}).rename(columns={'year':'num'})
agdf

              num
origin dest
EWR    ALB    169
       ANC     13
       ATL   4182
       AUS    568
       AVL    145
...           ...
LGA    SYR    332
       TPA   1852
       TVC     36
       TYS    167
       XNA    441

[221 rows x 1 columns]

2. Escribe un programa Pandas para calcula la media, desviaci√≥n est√°ndar, min y max del retraso total de cada origen-destino.

In [6]:
df['total_delay'] = df['dep_delay']+df['arr_delay']
gdf = df.groupby(['origin', 'dest'])

print(gdf.groups.keys())

agdf = gdf.agg({'total_delay': ['mean', 'std', 'min', 'max']})
print(agdf)

dict_keys([('EWR', 'ALB'), ('EWR', 'ANC'), ('EWR', 'ATL'), ('EWR', 'AUS'), ('EWR', 'AVL'), ('EWR', 'AVP'), ('EWR', 'BDL'), ('EWR', 'BNA'), ('EWR', 'BOS'), ('EWR', 'BQN'), ('EWR', 'BTV'), ('EWR', 'BUF'), ('EWR', 'BWI'), ('EWR', 'BZN'), ('EWR', 'CAE'), ('EWR', 'CHS'), ('EWR', 'CLE'), ('EWR', 'CLT'), ('EWR', 'CMH'), ('EWR', 'CVG'), ('EWR', 'DAY'), ('EWR', 'DCA'), ('EWR', 'DEN'), ('EWR', 'DFW'), ('EWR', 'DSM'), ('EWR', 'DTW'), ('EWR', 'EGE'), ('EWR', 'FLL'), ('EWR', 'GRR'), ('EWR', 'GSO'), ('EWR', 'GSP'), ('EWR', 'HDN'), ('EWR', 'HNL'), ('EWR', 'HOU'), ('EWR', 'IAD'), ('EWR', 'IAH'), ('EWR', 'IND'), ('EWR', 'JAC'), ('EWR', 'JAX'), ('EWR', 'LAS'), ('EWR', 'LAX'), ('EWR', 'MCI'), ('EWR', 'MCO'), ('EWR', 'MDT'), ('EWR', 'MDW'), ('EWR', 'MEM'), ('EWR', 'MHT'), ('EWR', 'MIA'), ('EWR', 'MKE'), ('EWR', 'MSN'), ('EWR', 'MSP'), ('EWR', 'MSY'), ('EWR', 'MTJ'), ('EWR', 'OKC'), ('EWR', 'OMA'), ('EWR', 'ORD'), ('EWR', 'ORF'), ('EWR', 'PBI'), ('EWR', 'PDX'), ('EWR', 'PHL'), ('EWR', 'PHX'), ('EWR', 'PIT'), ('EWR', 'PVD'), ('EWR', 'PWM'), ('EWR', 'RDU'), ('EWR', 'RIC'), ('EWR', 'ROC'), ('EWR', 'RSW'), ('EWR', 'SAN'), ('EWR', 'SAT'), ('EWR', 'SAV'), ('EWR', 'SBN'), ('EWR', 'SDF'), ('EWR', 'SEA'), ('EWR', 'SFO'), ('EWR', 'SJU'), ('EWR', 'SLC'), ('EWR', 'SNA'), ('EWR', 'STL'), ('EWR', 'STT'), ('EWR', 'SYR'), ('EWR', 'TPA'), ('EWR', 'TUL'), ('EWR', 'TVC'), ('EWR', 'TYS'), ('EWR', 'XNA'), ('JFK', 'ABQ'), ('JFK', 'ACK'), ('JFK', 'ATL'), ('JFK', 'AUS'), ('JFK', 'BNA'), ('JFK', 'BOS'), ('JFK', 'BQN'), ('JFK', 'BTV'), ('JFK', 'BUF'), ('JFK', 'BUR'), ('JFK', 'BWI'), ('JFK', 'CHS'), ('JFK', 'CLE'), ('JFK', 'CLT'), ('JFK', 'CMH'), ('JFK', 'CVG'), ('JFK', 'DCA'), ('JFK', 'DEN'), ('JFK', 'DFW'), ('JFK', 'DTW'), ('JFK', 'EGE'), ('JFK', 'FLL'), ('JFK', 'HNL'), ('JFK', 'HOU'), ('JFK', 'HYA'), ('JFK', 'IAD'), ('JFK', 'IAH'), ('JFK', 'IND'), ('JFK', 'JAC'), ('JFK', 'JAX'), ('JFK', 'LAS'), ('JFK', 'LAX'), ('JFK', 'LGB'), ('JFK', 'MCO'), ('JFK', 'MIA'), ('JFK', 'MSP'), ('JFK', 'MSY'), ('JFK', 'MVY'), ('JFK', 'OAK'), ('JFK', 'ORD'), ('JFK', 'ORF'), ('JFK', 'PBI'), ('JFK', 'PDX'), ('JFK', 'PHL'), ('JFK', 'PHX'), ('JFK', 'PIT'), ('JFK', 'PSE'), ('JFK', 'PSP'), ('JFK', 'PWM'), ('JFK', 'RDU'), ('JFK', 'ROC'), ('JFK', 'RSW'), ('JFK', 'SAN'), ('JFK', 'SAT'), ('JFK', 'SAV'), ('JFK', 'SEA'), ('JFK', 'SFO'), ('JFK', 'SJC'), ('JFK', 'SJU'), ('JFK', 'SLC'), ('JFK', 'SMF'), ('JFK', 'SRQ'), ('JFK', 'STT'), ('JFK', 'SYR'), ('JFK', 'TPA'), ('LGA', 'AGS'), ('LGA', 'ATL'), ('LGA', 'AVL'), ('LGA', 'BGR'), ('LGA', 'BHM'), ('LGA', 'BNA'), ('LGA', 'BOS'), ('LGA', 'BTV'), ('LGA', 'BUF'), ('LGA', 'BZN'), ('LGA', 'CAE'), ('LGA', 'CAK'), ('LGA', 'CHO'), ('LGA', 'CHS'), ('LGA', 'CLE'), ('LGA', 'CLT'), ('LGA', 'CMH'), ('LGA', 'CVG'), ('LGA', 'DAL'), ('LGA', 'DAY'), ('LGA', 'DCA'), ('LGA', 'DEN'), ('LGA', 'DFW'), ('LGA', 'DSM'), ('LGA', 'DTW'), ('LGA', 'EYW'), ('LGA', 'FLL'), ('LGA', 'GRR'), ('LGA', 'GSO'), ('LGA', 'GSP'), ('LGA', 'HOU'), ('LGA', 'IAD'), ('LGA', 'IAH'), ('LGA', 'ILM'), ('LGA', 'IND'), ('LGA', 'JAX'), ('LGA', 'LIT'), ('LGA', 'MCI'), ('LGA', 'MCO'), ('LGA', 'MDW'), ('LGA', 'MEM'), ('LGA', 'MHT'), ('LGA', 'MIA'), ('LGA', 'MKE'), ('LGA', 'MSN'), ('LGA', 'MSP'), ('LGA', 'MSY'), ('LGA', 'MYR'), ('LGA', 'OMA'), ('LGA', 'ORD'), ('LGA', 'ORF'), ('LGA', 'PBI'), ('LGA', 'PHL'), ('LGA', 'PIT'), ('LGA', 'PWM'), ('LGA', 'RDU'), ('LGA', 'RIC'), ('LGA', 'ROA'), ('LGA', 'ROC'), ('LGA', 'RSW'), ('LGA', 'SAV'), ('LGA', 'SBN'), ('LGA', 'SDF'), ('LGA', 'SRQ'), ('LGA', 'STL'), ('LGA', 'SYR'), ('LGA', 'TPA'), ('LGA', 'TVC'), ('LGA', 'TYS'), ('LGA', 'XNA')])
            total_delay
                   mean         std min   max
origin dest
EWR    ALB    35.230769   92.478247 -36   618
       ANC    15.307692   43.453777 -30   121
       ATL    32.235533  114.946191 -47  2177
       AUS     5.871479   63.006811 -62   539
       AVL    24.903448   82.071727 -33   625
...                 ...         ...  ..   ...
LGA    SYR    23.346386   88.091602 -54   844
       TPA    15.267279   80.570698 -57   964
       TVC    71.500000  183.741200 -41   765
       TYS    17.305389   57.004937 -44   291
       XNA     6.911565   53.977890 -64   320

[221 rows x 4 columns]

3. Escribe un programa Pandas para dividir un conjunto de datos y agruparlos por dos columnas, y luego ordenar los resultados agregados dentro de los grupos.

En el siguiente conjunto de datos de vuelos, agrupar "date" (fecha completa) y "carrier". Luego ordenar la suma de 'total_delay' dentro de los grupos.

In [7]:
df['date']=pd.to_datetime(df[['year','month','day']])
gdf = df.groupby(['date','carrier']).agg({'total_delay':sum})
print(gdf,'\n\n')
result = gdf['total_delay'].groupby(level=0, group_keys=False)
print(result.nlargest())

                    total_delay
date       carrier
2014-01-01 AA              1017
           AS                11
           B6              9383
           DL               545
           EV              4675
...                         ...
2014-10-31 MQ               -24
           UA              4862
           US               -27
           VX                14
           WN              -909

[3938 rows x 1 columns]

C:\Users\ricar\AppData\Local\Temp\ipykernel_21968\3098967861.py:2: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  gdf = df.groupby(['date','carrier']).agg({'total_delay':sum})

date        carrier
2014-01-01  B6         9383
            UA         5897
            EV         4675
            MQ         3122
            WN         2744
                       ...
2014-10-31  UA         4862
            AA         3090
            VX           14
            HA           -4
            F9          -20
Name: total_delay, Length: 1520, dtype: int64

4. Escribe un programa Pandas para contar el m√∫mero de retrasos de salida por mes y origen.

In [8]:
df.groupby(['origin', 'month'])['month'].count().reset_index(name='count')

   origin  month  count
0     EWR      1   8197
1     EWR      2   7220
2     EWR      3   9478
3     EWR      4   8601
4     EWR      5   8525
5     EWR      6   9349
6     EWR      7   9448
7     EWR      8   9433
8     EWR      9   8546
9     EWR     10   8603
10    JFK      1   7105
11    JFK      2   6779
12    JFK      3   8253
13    JFK      4   8070
14    JFK      5   8305
15    JFK      6   8422
16    JFK      7   8730
17    JFK      8   8986
18    JFK      9   8228
19    JFK     10   8605
20    LGA      1   7494
21    LGA      2   6814
22    LGA      3   8692
23    LGA      4   8917
24    LGA      5   8692
25    LGA      6   8717
26    LGA      7   8825
27    LGA      8   9031
28    LGA      9   8416
29    LGA     10   8835

5. Escribe un programa Pandas para cargar los datos de productos y ventas del archivo FoodMarket.xlsx y m√©zclalos en un solo dataframe.

In [9]:
import warnings
warnings.filterwarnings('ignore')

In [10]:
df_prods = pd.read_excel('../../data/FoodMarket.xlsx', sheet_name='Products')
df_prods.sort_values(['Product'], ascending=True, inplace=True)
df_prods.head()

    Product                                   Name.x  provider      Price
10        1                         American cheeses         1   8.913593
12        2  Appellation d'Origine Contr√¥l√©e cheeses         1  10.705655
55        3                          Apple cultivars         1  11.280984
58        4                             Bacon dishes         1  10.144121
54        5                        Bacon substitutes         1  11.089174

In [11]:
df_purch = pd.read_excel('../../data/FoodMarket.xlsx', sheet_name='Purchases')
df_purch

      Code  Product  Seller  Buyer      Fecha  Quantity
0        1       15      37     90 2020-11-10        25
1        2       46      32     51 2020-09-19        16
2        3       44      27    166 2019-02-19        25
3        4       52      21     68 2020-06-08        40
4        5       20      21    185 2019-01-18        36
...    ...      ...     ...    ...        ...       ...
1496  1497       10      18    199 2020-11-23        34
1497  1498       63      58     38 2020-03-13        35
1498  1499       28       5     81 2020-03-02        31
1499  1500       21       2    194 2021-02-18        35
1500  1501       33       8    120 2020-03-13        12

[1501 rows x 6 columns]

In [12]:
whole_df = pd.merge(df_purch, df_prods, on='Product')
whole_df.rename(columns={'Name.x':'ProductName'}, inplace=True)
whole_df.sort_values('Product', inplace=True)
whole_df

,Code,Product,Seller,Buyer,Fecha,Quantity,ProductName,provider,Price
721,722,1,29,148,2020-06-03,29,American cheeses,1,8.913593
479,480,1,43,13,2019-08-01,40,American cheeses,1,8.913593
1007,1008,1,45,84,2020-12-05,30,American cheeses,1,8.913593
1048,1049,1,12,159,2020-06-03,31,American cheeses,1,8.913593
1395,1396,1,14,166,2020-02-16,28,American cheeses,1,8.913593
...,...,...,...,...,...,...,...,...,...
596,597,70,37,42,2020-08-30,25,Vodkas,4,40.404487
817,818,70,11,106,2019-01-04,15,Vodkas,4,40.404487
664,665,70,15,62,2019-05-03,32,Vodkas,4,40.404487
673,674,70,48,86,2019-07-30,28,Vodkas,4,40.404487
21,22,70,23,147,2020-10-09,40,Vodkas,4,40.404487

6. Escribe un programa Pandas para extraer informaci√≥n sobre el n√∫mero de compras totales y el monto total por nombre de producto y a√±o.

In [13]:
whole_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1501 entries, 721 to 21
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Code         1501 non-null   int64
 1   Product      1501 non-null   int64
 2   Seller       1501 non-null   int64
 3   Buyer        1501 non-null   int64
 4   Fecha        1501 non-null   datetime64[ns]
 5   Quantity     1501 non-null   int64
 6   ProductName  1501 non-null   object
 7   provider     1501 non-null   int64
 8   Price        1501 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(6), object(1)
memory usage: 117.3+ KB

In [14]:
whole_df['total-price'] = whole_df['Quantity']*whole_df['Price']
whole_df

,Code,Product,Seller,Buyer,Fecha,Quantity,ProductName,provider,Price,total-price
721,722,1,29,148,2020-06-03,29,American cheeses,1,8.913593,258.494186
479,480,1,43,13,2019-08-01,40,American cheeses,1,8.913593,356.543705
1007,1008,1,45,84,2020-12-05,30,American cheeses,1,8.913593,267.407779
1048,1049,1,12,159,2020-06-03,31,American cheeses,1,8.913593,276.321371
1395,1396,1,14,166,2020-02-16,28,American cheeses,1,8.913593,249.580593
...,...,...,...,...,...,...,...,...,...,...
596,597,70,37,42,2020-08-30,25,Vodkas,4,40.404487,1010.112178
817,818,70,11,106,2019-01-04,15,Vodkas,4,40.404487,606.067307
664,665,70,15,62,2019-05-03,32,Vodkas,4,40.404487,1292.943587
673,674,70,48,86,2019-07-30,28,Vodkas,4,40.404487,1131.325639
21,22,70,23,147,2020-10-09,40,Vodkas,4,40.404487,1616.179484

In [15]:
# whole_df['year']=whole_df['Fecha'].dt.year

gwhole_df = whole_df.groupby(['ProductName', whole_df['Fecha'].dt.year]).agg({'Quantity': sum})
gwhole_df

                                               Quantity
ProductName                             Fecha
American cheeses                        2019        183
                                        2020        384
                                        2021         97
Appellation d'Origine Contr√¥l√©e cheeses 2019        241
                                        2020        184
...                                                 ...
Vegetables                              2019        249
                                        2020        108
Vodkas                                  2019        348
                                        2020        187
                                        2021         66

[205 rows x 1 columns]

In [16]:
gwhole_df = whole_df.groupby(['ProductName', whole_df['Fecha'].dt.year]).agg(num=(
    'Product', 'count'), sumQ=('Quantity', sum), sumTotalPrecio=('total-price', lambda x: round(sum(x), 2)))
gwhole_df

                                               num  sumQ  sumTotalPrecio
ProductName                             Fecha
American cheeses                        2019     6   183         1631.19
                                        2020    13   384         3422.82
                                        2021     3    97          864.62
Appellation d'Origine Contr√¥l√©e cheeses 2019     8   241         2580.06
                                        2020     5   184         1969.84
...                                            ...   ...             ...
Vegetables                              2019     7   249         9230.55
                                        2020     4   108         4003.61
Vodkas                                  2019    13   348        14060.76
                                        2020     7   187         7555.64
                                        2021     2    66         2666.70

[205 rows x 3 columns]