# Ejercicios Pandas DataFrames 02

Carga el dataset de vuelos "flights14.csv"

In [2]:
import pandas as pd

df = pd.read_csv('../data/flights14.csv', index_col=0)
df.head()

,year,month,day,dep_delay,arr_delay,carrier,origin,dest,air_time,distance,hour
1,2014,1,1,14,13,AA,JFK,LAX,359,2475,9
2,2014,1,1,-3,13,AA,JFK,LAX,363,2475,11
3,2014,1,1,2,9,AA,JFK,LAX,351,2475,19
4,2014,1,1,-8,-26,AA,LGA,PBI,157,1035,7
5,2014,1,1,2,1,AA,JFK,LAX,350,2475,13

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 253316 entries, 1 to 253316
Data columns (total 11 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   year       253316 non-null  int64
 1   month      253316 non-null  int64
 2   day        253316 non-null  int64
 3   dep_delay  253316 non-null  int64
 4   arr_delay  253316 non-null  int64
 5   carrier    253316 non-null  object
 6   origin     253316 non-null  object
 7   dest       253316 non-null  object
 8   air_time   253316 non-null  int64
 9   distance   253316 non-null  int64
 10  hour       253316 non-null  int64
dtypes: int64(8), object(3)
memory usage: 23.2+ MB

1. Escribe un programa Pandas para dividir los datos basados en origen y destino. Muestra cada grupo y el n√∫mero de elementos por grupo

In [4]:
gdf = df.groupby(['origin', 'dest'])

for g, vals in gdf.groups.items():
    print(g, len(vals))

('EWR', 'ALB') 169
('EWR', 'ANC') 13
('EWR', 'ATL') 4182
('EWR', 'AUS') 568
('EWR', 'AVL') 145
('EWR', 'AVP') 1
('EWR', 'BDL') 210
('EWR', 'BNA') 1797
('EWR', 'BOS') 4268
('EWR', 'BQN') 251
('EWR', 'BTV') 300
('EWR', 'BUF') 334
('EWR', 'BWI') 185
('EWR', 'BZN') 51
('EWR', 'CAE') 21
('EWR', 'CHS') 986
('EWR', 'CLE') 1171
('EWR', 'CLT') 3921
('EWR', 'CMH') 763
('EWR', 'CVG') 1187
('EWR', 'DAY') 566
('EWR', 'DCA') 1309
('EWR', 'DEN') 2243
('EWR', 'DFW') 2224
('EWR', 'DSM') 179
('EWR', 'DTW') 2149
('EWR', 'EGE') 80
('EWR', 'FLL') 2909
('EWR', 'GRR') 490
('EWR', 'GSO') 644
('EWR', 'GSP') 518
('EWR', 'HDN') 13
('EWR', 'HNL') 301
('EWR', 'HOU') 784
('EWR', 'IAD') 629
('EWR', 'IAH') 3073
('EWR', 'IND') 1239
('EWR', 'JAC') 19
('EWR', 'JAX') 998
('EWR', 'LAS') 1555
('EWR', 'LAX') 4226
('EWR', 'MCI') 995
('EWR', 'MCO') 4164
('EWR', 'MDT') 5
('EWR', 'MDW') 1537
('EWR', 'MEM') 660
('EWR', 'MHT') 324
('EWR', 'MIA') 2094
('EWR', 'MKE') 676
('EWR', 'MSN') 280
('EWR', 'MSP') 1485
('EWR', 'MSY') 982
('EWR', 'MTJ') 12
('EWR', 'OKC') 223
('EWR', 'OMA') 544
('EWR', 'ORD') 3272
('EWR', 'ORF') 211
('EWR', 'PBI') 1874
('EWR', 'PDX') 418
('EWR', 'PHL') 7
('EWR', 'PHX') 2002
('EWR', 'PIT') 353
('EWR', 'PVD') 169
('EWR', 'PWM') 392
('EWR', 'RDU') 741
('EWR', 'RIC') 1183
('EWR', 'ROC') 504
('EWR', 'RSW') 1160
('EWR', 'SAN') 884
('EWR', 'SAT') 205
('EWR', 'SAV') 557
('EWR', 'SBN') 6
('EWR', 'SDF') 529
('EWR', 'SEA') 1364
('EWR', 'SFO') 4539
('EWR', 'SJU') 949
('EWR', 'SLC') 285
('EWR', 'SNA') 657
('EWR', 'STL') 1740
('EWR', 'STT') 174
('EWR', 'SYR') 86
('EWR', 'TPA') 1833
('EWR', 'TUL') 201
('EWR', 'TVC') 20
('EWR', 'TYS') 238
('EWR', 'XNA') 195
('JFK', 'ABQ') 278
('JFK', 'ACK') 277
('JFK', 'ATL') 1701
('JFK', 'AUS') 1370
('JFK', 'BNA') 284
('JFK', 'BOS') 4111
('JFK', 'BQN') 535
('JFK', 'BTV') 1004
('JFK', 'BUF') 2164
('JFK', 'BUR') 289
('JFK', 'BWI') 282
('JFK', 'CHS') 587
('JFK', 'CLE') 280
('JFK', 'CLT') 2272
('JFK', 'CMH') 576
('JFK', 'CVG') 282
('JFK', 'DCA') 1686
('JFK', 'DEN') 579
('JFK', 'DFW') 474
('JFK', 'DTW') 198
('JFK', 'EGE') 85
('JFK', 'FLL') 3258
('JFK', 'HNL') 260
('JFK', 'HOU') 570
('JFK', 'HYA') 75
('JFK', 'IAD') 1604
('JFK', 'IAH') 7
('JFK', 'IND') 278
('JFK', 'JAC') 1
('JFK', 'JAX') 843
('JFK', 'LAS') 3355
('JFK', 'LAX') 10208
('JFK', 'LGB') 526
('JFK', 'MCO') 4467
('JFK', 'MIA') 2750
('JFK', 'MSP') 458
('JFK', 'MSY') 908
('JFK', 'MVY') 159
('JFK', 'OAK') 247
('JFK', 'ORD') 1265
('JFK', 'ORF') 282
('JFK', 'PBI') 1362
('JFK', 'PDX') 725
('JFK', 'PHL') 1
('JFK', 'PHX') 1784
('JFK', 'PIT') 384
('JFK', 'PSE') 289
('JFK', 'PSP') 17
('JFK', 'PWM') 1076
('JFK', 'RDU') 1770
('JFK', 'ROC') 1036
('JFK', 'RSW') 856
('JFK', 'SAN') 1402
('JFK', 'SAT') 242
('JFK', 'SAV') 514
('JFK', 'SEA') 1815
('JFK', 'SFO') 7368
('JFK', 'SJC') 252
('JFK', 'SJU') 4027
('JFK', 'SLC') 1706
('JFK', 'SMF') 246
('JFK', 'SRQ') 370
('JFK', 'STT') 450
('JFK', 'SYR') 937
('JFK', 'TPA') 2019
('LGA', 'AGS') 3
('LGA', 'ATL') 6925
('LGA', 'AVL') 2
('LGA', 'BGR') 274
('LGA', 'BHM') 124
('LGA', 'BNA') 2600
('LGA', 'BOS') 3230
('LGA', 'BTV') 229
('LGA', 'BUF') 169
('LGA', 'BZN') 15
('LGA', 'CAE') 382
('LGA', 'CAK') 708
('LGA', 'CHO') 329
('LGA', 'CHS') 574
('LGA', 'CLE') 2111
('LGA', 'CLT') 3431
('LGA', 'CMH') 1816
('LGA', 'CVG') 78
('LGA', 'DAL') 15
('LGA', 'DAY') 490
('LGA', 'DCA') 3753
('LGA', 'DEN') 2939
('LGA', 'DFW') 3789
('LGA', 'DSM') 1
('LGA', 'DTW') 3663
('LGA', 'EYW') 32
('LGA', 'FLL') 3304
('LGA', 'GRR') 266
('LGA', 'GSO') 868
('LGA', 'GSP') 3
('LGA', 'HOU') 905
('LGA', 'IAD') 1091
('LGA', 'IAH') 2346
('LGA', 'ILM') 223
('LGA', 'IND') 49
('LGA', 'JAX') 67
('LGA', 'LIT') 204
('LGA', 'MCI') 406
('LGA', 'MCO') 3078
('LGA', 'MDW') 1937
('LGA', 'MEM') 3
('LGA', 'MHT') 146
('LGA', 'MIA') 5084
('LGA', 'MKE') 1176
('LGA', 'MSN') 188
('LGA', 'MSP') 2220
('LGA', 'MSY') 738
('LGA', 'MYR') 11
('LGA', 'OMA') 87
('LGA', 'ORD') 7052
('LGA', 'ORF') 1014
('LGA', 'PBI') 2307
('LGA', 'PHL') 702
('LGA', 'PIT') 262
('LGA', 'PWM') 131
('LGA', 'RDU') 2499
('LGA', 'RIC') 1135
('LGA', 'ROA') 125
('LGA', 'ROC') 254
('LGA', 'RSW') 569
('LGA', 'SAV') 368
('LGA', 'SBN') 2
('LGA', 'SDF') 542
('LGA', 'SRQ') 496
('LGA', 'STL') 2065
('LGA', 'SYR') 332
('LGA', 'TPA') 1852
('LGA', 'TVC') 36
('LGA', 'TYS') 167
('LGA', 'XNA') 441

In [5]:
gdf.agg({'year': 'count'}).rename(columns={'year': 'num'})

              num
origin dest
EWR    ALB    169
       ANC     13
       ATL   4182
       AUS    568
       AVL    145
...           ...
LGA    SYR    332
       TPA   1852
       TVC     36
       TYS    167
       XNA    441

[221 rows x 1 columns]

2. Escribe un programa Pandas para calcula la media, desviaci√≥n est√°ndar, min y max del retraso total de cada orgige-destino.

In [6]:
df['total_delay'] = df['dep_delay']+df['arr_delay']
gdf = df.groupby(['origin', 'dest'])
# gdf.first()

agdf = gdf.agg({'total_delay': ['mean', 'std', 'min', 'max']})
print(agdf)

            total_delay
                   mean         std min   max
origin dest
EWR    ALB    35.230769   92.478247 -36   618
       ANC    15.307692   43.453777 -30   121
       ATL    32.235533  114.946191 -47  2177
       AUS     5.871479   63.006811 -62   539
       AVL    24.903448   82.071727 -33   625
...                 ...         ...  ..   ...
LGA    SYR    23.346386   88.091602 -54   844
       TPA    15.267279   80.570698 -57   964
       TVC    71.500000  183.741200 -41   765
       TYS    17.305389   57.004937 -44   291
       XNA     6.911565   53.977890 -64   320

[221 rows x 4 columns]

3. Escribe un programa Pandas para dividir un conjunto de datos y agruparlos por dos columnas, y luego ordenar los resultados agregados dentro de los grupos.

En el siguiente conjunto de datos de vuelos, agrupar "date" (fecha completa) y "carrier". Luego ordenar la suma de 'total_delay' dentro de los grupos.

In [7]:
df['date'] = pd.to_datetime(df[['year', 'month', 'day']])
# df.info()

gdf = df.groupby(['date', 'carrier']).agg({"total_delay": sum})
gdf["total_delay"].groupby(level=0, group_keys=False).nlargest()

C:\Users\ricar\AppData\Local\Temp\ipykernel_28288\2110848955.py:4: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  gdf = df.groupby(['date', 'carrier']).agg({"total_delay": sum})

date        carrier
2014-01-01  B6         9383
            UA         5897
            EV         4675
            MQ         3122
            WN         2744
                       ...
2014-10-31  UA         4862
            AA         3090
            VX           14
            HA           -4
            F9          -20
Name: total_delay, Length: 1520, dtype: int64

4. Escribe un programa Pandas para contar el m√∫mero de retrasos de salida por mes y origen.

5. Escribe un programa Pandas para cargar los datos de productos y ventas del archivo FoodMarket.xlsx y m√©zclalos en un solo dataframe.

In [8]:
import pandas as pd
df_prods = pd.read_excel('../data/FoodMarket.xlsx', sheet_name='Products')
df_prods.sort_values(['Product'], ascending=True, inplace=True)
df_prods.info()
print(df_prods.head())
print(df_prods.tail())
df_prods.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 70 entries, 10 to 60
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Product   70 non-null     int64
 1   Name.x    70 non-null     object
 2   provider  70 non-null     int64
 3   Price     70 non-null     float64
dtypes: float64(1), int64(2), object(1)
memory usage: 2.7+ KB
    Product                                   Name.x  provider      Price
10        1                         American cheeses         1   8.913593
12        2  Appellation d'Origine Contr√¥l√©e cheeses         1  10.705655
55        3                          Apple cultivars         1  11.280984
58        4                             Bacon dishes         1  10.144121
54        5                        Bacon substitutes         1  11.089174
    Product             Name.x  provider      Price
61       66     Turkish dishes         4  41.352309
20       67  Twice-baked foods         4  41.740085
6        68     Vegetable oils         4  35.583480
64       69         Vegetables         4  37.070492
60       70             Vodkas         4  40.404487

         Product   provider      Price
count  70.000000  70.000000  70.000000
mean   35.500000   1.828571  18.309713
std    20.351085   1.049105  10.454415
min     1.000000   1.000000   8.236004
25%    18.250000   1.000000   9.990970
50%    35.500000   1.000000  11.158073
75%    52.750000   3.000000  29.619032
max    70.000000   4.000000  41.740085

In [9]:
df_purch = pd.read_excel('../data/FoodMarket.xlsx', sheet_name='Purchases')
df_purch.info()
print(df_purch.head())
print(df_purch.tail())
df_purch.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1501 entries, 0 to 1500
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Code      1501 non-null   int64
 1   Product   1501 non-null   int64
 2   Seller    1501 non-null   int64
 3   Buyer     1501 non-null   int64
 4   Fecha     1501 non-null   datetime64[ns]
 5   Quantity  1501 non-null   int64
dtypes: datetime64[ns](1), int64(5)
memory usage: 70.5 KB
   Code  Product  Seller  Buyer      Fecha  Quantity
0     1       15      37     90 2020-11-10        25
1     2       46      32     51 2020-09-19        16
2     3       44      27    166 2019-02-19        25
3     4       52      21     68 2020-06-08        40
4     5       20      21    185 2019-01-18        36
      Code  Product  Seller  Buyer      Fecha  Quantity
1496  1497       10      18    199 2020-11-23        34
1497  1498       63      58     38 2020-03-13        35
1498  1499       28       5     81 2020-03-02        31
1499  1500       21       2    194 2021-02-18        35
1500  1501       33       8    120 2020-03-13        12

,Code,Product,Seller,Buyer,Fecha,Quantity
count,1501.000000,1501.000000,1501.000000,1501.000000,1501,1501.000000
mean,751.000000,34.712192,28.788141,104.956696,2020-02-26 11:11:33.137908224,31.341106
min,1.000000,1.000000,1.000000,1.000000,2019-01-02 00:00:00,12.000000
25%,376.000000,17.000000,14.000000,51.000000,2019-07-25 00:00:00,26.000000
50%,751.000000,34.000000,28.000000,106.000000,2020-02-25 00:00:00,31.000000
75%,1126.000000,52.000000,43.000000,158.000000,2020-09-22 00:00:00,37.000000
max,1501.000000,70.000000,58.000000,207.000000,2021-05-05 00:00:00,50.000000
std,433.445691,19.974111,16.557750,59.825625,NaN,7.333365

In [10]:
# !pip install tabulate

In [11]:
from tabulate import tabulate

# Combinando

df = pd.merge(df_purch, df_prods, on="Product")
df.rename(columns={'Name.x': 'ProductName'}, inplace=True)
df.info()
df.describe()
print('\n')
print(tabulate(df.head(), headers='keys'))
print('\n')
print(tabulate(df.tail(), headers='keys'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1501 entries, 0 to 1500
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Code         1501 non-null   int64
 1   Product      1501 non-null   int64
 2   Seller       1501 non-null   int64
 3   Buyer        1501 non-null   int64
 4   Fecha        1501 non-null   datetime64[ns]
 5   Quantity     1501 non-null   int64
 6   ProductName  1501 non-null   object
 7   provider     1501 non-null   int64
 8   Price        1501 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(6), object(1)
memory usage: 105.7+ KB


      Code    Product    Seller    Buyer  Fecha                  Quantity  ProductName        provider     Price
--  ------  ---------  --------  -------  -------------------  ----------  ---------------  ----------  --------
 0       1         15        37       90  2020-11-10 00:00:00          25  Cheese soups              1  10.1163
 1       2         46        32       51  2020-09-19 00:00:00          16  Pastries                  2  22.1101
 2       3         44        27      166  2019-02-19 00:00:00          25  Moroccan dishes           2  21.827
 3       4         52        21       68  2020-06-08 00:00:00          40  Raw fish dishes           3  29.3127
 4       5         20        21      185  2019-01-18 00:00:00          36  Diets                     1   9.32773


        Code    Product    Seller    Buyer  Fecha                  Quantity  ProductName           provider    Price
----  ------  ---------  --------  -------  -------------------  ----------  ------------------  ----------  -------
1496    1497         10        18      199  2020-11-23 00:00:00          34  Breakfast foods              1  11.4459
1497    1498         63        58       38  2020-03-13 00:00:00          35  Stews                        3  29.8048
1498    1499         28         5       81  2020-03-02 00:00:00          31  French dishes                1  10.8797
1499    1500         21         2      194  2021-02-18 00:00:00          35  Doughnut varieties           1   8.236
1500    1501         33         8      120  2020-03-13 00:00:00          12  Hors d'oeuvre                1  11.0704

In [25]:
df['total-price']=df['Quantity']*df['Price']
df

,Code,Product,Seller,Buyer,Fecha,Quantity,ProductName,provider,Price,total-price
0,1,15,37,90,2020-11-10,25,Cheese soups,1,10.116339,252.908485
1,2,46,32,51,2020-09-19,16,Pastries,2,22.110149,353.762377
2,3,44,27,166,2019-02-19,25,Moroccan dishes,2,21.827039,545.675976
3,4,52,21,68,2020-06-08,40,Raw fish dishes,3,29.312705,1172.508206
4,5,20,21,185,2019-01-18,36,Diets,1,9.327730,335.798285
...,...,...,...,...,...,...,...,...,...,...
1496,1497,10,18,199,2020-11-23,34,Breakfast foods,1,11.445939,389.161943
1497,1498,63,58,38,2020-03-13,35,Stews,3,29.804814,1043.168502
1498,1499,28,5,81,2020-03-02,31,French dishes,1,10.879681,337.270106
1499,1500,21,2,194,2021-02-18,35,Doughnut varieties,1,8.236004,288.260152
1500,1501,33,8,120,2020-03-13,12,Hors d'oeuvre,1,11.070380,132.844561

6. Escribe un programa Pandas para extraer informaci√≥n sobre el n√∫mero de compras totales y el monto total por nombre de producto y a√±o.

In [29]:
gdf = df.groupby(['ProductName', df['Fecha'].dt.year]
                 ).agg(num=('Product','count'),sumQ=('Quantity', sum), sumTotalPrecio=('total-price', lambda x: round(sum(x),2)))
gdf

C:\Users\ricar\AppData\Local\Temp\ipykernel_28288\3304615766.py:2: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ).agg(num=('Product','count'),sumQ=('Quantity', sum), sumTotalPrecio=('total-price', lambda x: round(sum(x),2)))

                                               num  sumQ  sumTotalPrecio
ProductName                             Fecha
American cheeses                        2019     6   183         1631.19
                                        2020    13   384         3422.82
                                        2021     3    97          864.62
Appellation d'Origine Contr√¥l√©e cheeses 2019     8   241         2580.06
                                        2020     5   184         1969.84
...                                            ...   ...             ...
Vegetables                              2019     7   249         9230.55
                                        2020     4   108         4003.61
Vodkas                                  2019    13   348        14060.76
                                        2020     7   187         7555.64
                                        2021     2    66         2666.70

[205 rows x 3 columns]