# Ejercicios Pandas DataFrames 02

Carga el dataset de vuelos "flights14.csv"

In [22]:
import pandas as pd

df = pd.read_csv('../data/flights14.csv', index_col=0)
df.head()

,year,month,day,dep_delay,arr_delay,carrier,origin,dest,air_time,distance,hour
1,2014,1,1,14,13,AA,JFK,LAX,359,2475,9
2,2014,1,1,-3,13,AA,JFK,LAX,363,2475,11
3,2014,1,1,2,9,AA,JFK,LAX,351,2475,19
4,2014,1,1,-8,-26,AA,LGA,PBI,157,1035,7
5,2014,1,1,2,1,AA,JFK,LAX,350,2475,13

In [ ]:
df.info()

1. Escribe un programa Pandas para dividir los datos basados en origen y destino. Muestra cada grupo y el número de elementos por grupo

In [ ]:
gdf = df.groupby(['origin','dest'])

for g, vals in gdf.groups.items():
    print(g, len(vals))

In [ ]:
gdf.agg({'year':'count'}).rename(columns={'year':'num'})

2. Escribe un programa Pandas para calcula la media, desviación estándar, min y max del retraso total de cada orgige-destino.

In [27]:
df['total_delay'] = df['dep_delay']+df['arr_delay']
gdf = df.groupby(['origin','dest'])
# gdf.first()

agdf = gdf.agg({'total_delay':['mean','std','min','max']})
print(agdf)

            total_delay
                   mean         std min   max
origin dest
EWR    ALB    35.230769   92.478247 -36   618
       ANC    15.307692   43.453777 -30   121
       ATL    32.235533  114.946191 -47  2177
       AUS     5.871479   63.006811 -62   539
       AVL    24.903448   82.071727 -33   625
...                 ...         ...  ..   ...
LGA    SYR    23.346386   88.091602 -54   844
       TPA    15.267279   80.570698 -57   964
       TVC    71.500000  183.741200 -41   765
       TYS    17.305389   57.004937 -44   291
       XNA     6.911565   53.977890 -64   320

[221 rows x 4 columns]

3. Escribe un programa Pandas para dividir un conjunto de datos y agruparlos por dos columnas, y luego ordenar los resultados agregados dentro de los grupos.

En el siguiente conjunto de datos de vuelos, agrupar "date" (fecha completa) y "carrier". Luego ordenar la suma de 'total_delay' dentro de los grupos.

In [35]:
df['date'] = pd.to_datetime(df[['year', 'month', 'day']])
# df.info()

gdf = df.groupby(['date', 'carrier']).agg({"total_delay": sum})
gdf["total_delay"].groupby(level=0, group_keys=False).nlargest()

date        carrier
2014-01-01  B6         9383
            UA         5897
            EV         4675
            MQ         3122
            WN         2744
                       ...
2014-10-31  UA         4862
            AA         3090
            VX           14
            HA           -4
            F9          -20
Name: total_delay, Length: 1520, dtype: int64

4. Escribe un programa Pandas para contar el múmero de retrasos de salida por mes y origen.

5. Escribe un programa Pandas para cargar los datos de productos y ventas del archivo FoodMarket.xlsx y mézclalos en un solo dataframe.

6. Escribe un programa Pandas para extraer información sobre el número de compras totales y el monto total por nombre de producto y año.