# Ejercicios Pandas DataFrames 02

Carga el dataset de vuelos "flights14.csv"

In [ ]:
import pandas as pd

df = pd.read_csv('../data/flights14.csv', index_col=0)
df.head()

In [ ]:
df.info()

1. Escribe un programa Pandas para dividir los datos basados en origen y destino. Muestra cada grupo y el número de elementos por grupo

In [ ]:
gdf = df.groupby(['origin', 'dest'])

for g, vals in gdf.groups.items():
    print(g, len(vals))

In [ ]:
gdf.agg({'year': 'count'}).rename(columns={'year': 'num'})

2. Escribe un programa Pandas para calcula la media, desviación estándar, min y max del retraso total de cada orgige-destino.

In [ ]:
df['total_delay'] = df['dep_delay']+df['arr_delay']
gdf = df.groupby(['origin', 'dest'])
# gdf.first()

agdf = gdf.agg({'total_delay': ['mean', 'std', 'min', 'max']})
print(agdf)

3. Escribe un programa Pandas para dividir un conjunto de datos y agruparlos por dos columnas, y luego ordenar los resultados agregados dentro de los grupos.

En el siguiente conjunto de datos de vuelos, agrupar "date" (fecha completa) y "carrier". Luego ordenar la suma de 'total_delay' dentro de los grupos.

In [ ]:
df['date'] = pd.to_datetime(df[['year', 'month', 'day']])
# df.info()

gdf = df.groupby(['date', 'carrier']).agg({"total_delay": sum})
gdf["total_delay"].groupby(level=0, group_keys=False).nlargest()

4. Escribe un programa Pandas para contar el múmero de retrasos de salida por mes y origen.

5. Escribe un programa Pandas para cargar los datos de productos y ventas del archivo FoodMarket.xlsx y mézclalos en un solo dataframe.

In [ ]:
import pandas as pd
df_prods = pd.read_excel('../data/FoodMarket.xlsx', sheet_name='Products')
df_prods.sort_values(['Product'], ascending=True, inplace=True)
df_prods.info()
print(df_prods.head())
print(df_prods.tail())
df_prods.describe()

In [ ]:
df_purch = pd.read_excel('../data/FoodMarket.xlsx', sheet_name='Purchases')
df_purch.info()
print(df_purch.head())
print(df_purch.tail())
df_purch.describe()

In [10]:
# !pip install tabulate

In [ ]:
from tabulate import tabulate

# Combinando

df = pd.merge(df_purch, df_prods, on="Product")
df.rename(columns={'Name.x': 'ProductName'}, inplace=True)
df.info()
df.describe()
print('\n')
print(tabulate(df.head(), headers='keys'))
print('\n')
print(tabulate(df.tail(), headers='keys'))

6. Escribe un programa Pandas para extraer información sobre el número de compras totales y el monto total por nombre de producto y año.

In [17]:
df['total-price']=df['Quantity']*df['Price']
df

,Code,Product,Seller,Buyer,Fecha,Quantity,ProductName,provider,Price,total-price
0,1,15,37,90,2020-11-10,25,Cheese soups,1,10.116339,252.908485
1,79,15,42,205,2020-07-28,26,Cheese soups,1,10.116339,263.024825
2,164,15,55,101,2020-11-11,46,Cheese soups,1,10.116339,465.351613
3,196,15,15,121,2021-03-15,40,Cheese soups,1,10.116339,404.653577
4,291,15,15,174,2019-12-13,45,Cheese soups,1,10.116339,455.235274
...,...,...,...,...,...,...,...,...,...,...
1496,1176,21,36,79,2019-11-26,28,Doughnut varieties,1,8.236004,230.608122
1497,1326,21,21,114,2020-09-27,39,Doughnut varieties,1,8.236004,321.204170
1498,1414,21,19,76,2019-03-25,31,Doughnut varieties,1,8.236004,255.316135
1499,1442,21,49,23,2020-04-20,27,Doughnut varieties,1,8.236004,222.372117
1500,1500,21,2,194,2021-02-18,35,Doughnut varieties,1,8.236004,288.260152

In [ ]:
gdf = df.groupby(['ProductName', df['Fecha'].dt.year]
                 ).agg(SumQ=('Quantity', sum), SumTotalPrice=('total-price', lambda x: round(sum(x), 2)))
gdf

                                               SumQ  SumTotalPrice
ProductName                             Fecha
American cheeses                        2019    183        1631.19
                                        2020    384        3422.82
                                        2021     97         864.62
Appellation d'Origine Contrôlée cheeses 2019    241        2580.06
                                        2020    184        1969.84
...                                             ...            ...
Vegetables                              2019    249        9230.55
                                        2020    108        4003.61
Vodkas                                  2019    348       14060.76
                                        2020    187        7555.64
                                        2021     66        2666.70

[205 rows x 2 columns]