In [ ]:
import sqlite3
con_sqlt = sqlite3.connect("../../data/database.db")

In [ ]:
def show_tables():
    sql_query = """SELECT name FROM sqlite_master  WHERE type='table';"""

    cursor = con_sqlt.cursor()
    cursor.execute(sql_query)
    print(cursor.fetchall())

    cursor.close()

show_tables()

In [ ]:
def delete_table(name):
    sql_delete = "DROP TABLE {0}".format(name)

    cursor = con_sqlt.cursor()
    cursor.execute(sql_delete)
    con_sqlt.commit()
    cursor.close()

In [ ]:
tables_to_delete = ['movies3']

for aT in tables_to_delete:
    delete_table(aT)

In [ ]:
show_tables()

In [ ]:
con_sqlt.close()