# Pandas

In [4]:
import pandas as pd

## Series

In [ ]:
help(pd.Series)

In [ ]:
s = pd.Series([1, 2, 3, 4, 5, 6])
s

In [ ]:
s = pd.Series({'math':10, 'leng':7, 'art': 2})
s

In [ ]:
print(s.size)
print(s.index)
print(s.dtype)

In [ ]:
print(s['math'])
print(s[1])
print(s[:2])
print(s[['leng','art']])

#### Resumen descriptivo

In [ ]:
s = pd.Series([1, 2, 3, 4, 2, 5, 6])

print(s.count())
print(s.value_counts())
print(s.value_counts(normalize=True))
print(s.min())
print(s.max())
print(s.var())
print(s.std())

In [ ]:
print(s.describe())

In [ ]:
print(s.sum())
print(s.cumsum())

#### Operariones

In [ ]:
s * 2
s % 2

In [ ]:
st = pd.Series(['a', 'b', 'c'])
st*4

In [ ]:
help(s.apply)

In [ ]:
import math
import numpy as np
s.apply(np.sqrt)

In [ ]:
st.apply(str.upper)

In [ ]:
def mifunc(val):
    return str(val).upper()

s.apply(lambda x: x*2+3)

st.apply(mifunc)

#### Filtrar y ordenar

In [ ]:
mask  = s > 2
print(mask)

s2 = s[mask]
print(s2)
print(s)

In [ ]:
s.sort_values()
s.sort_index(ascending=False)

In [ ]:
sx = pd.Series(['a', 'b', None, 'c', np.nan, 'd'])
print(sx)

sy = sx.dropna()
print(sy)

In [ ]:
help(sx.drop)

## DataFrames

### Creación

In [ ]:
help(pd.DataFrame)

In [45]:

diccionario = {
    'nombre': ['María', 'Luis', 'Carmen', 'Antonio'],
    'edad': [18, 22, 20, 21],
    'grado': ['Economía', 'Medicina', 'Arquitectura', 'Economía'],
    'correo': ['maria@gmail.com', 'luis@yahoo.es', 'carmen@gmail.com', 'antonio@gmail.com']
}

lista_de_listas = [['María', 18],
                   ['Luis', 22],
                   ['Carmen', 20]]

lista_de_dicts = [{'Nombre': 'María', 'Edad': 18},
                  {'Nombre': 'Luis', 'Edad': 22},
                  {'Nombre': 'Carmen'}]

In [ ]:
df = pd.DataFrame(diccionario)
df

In [ ]:
df = pd.DataFrame(lista_de_dicts)
df

In [ ]:
df = pd.DataFrame(lista_de_listas, columns=['Nombre','Edad'])
df

#### Desde fuentes

In [ ]:
dfcol = pd.read_csv("../data/colesterol.csv")
print(dfcol)

In [ ]:
dfcol = pd.read_csv("https://github.com/ricardoahumada/DataScienceBasics/raw/refs/heads/main/data/colesterol.csv")
print(dfcol)

In [ ]:
dffr = pd.read_json('../data/frutas.json')
dffr

In [ ]:
# !pip install sqlite3
import sqlite3

con_sqlt = sqlite3.connect("../data/database.db")
dfdb = pd.read_sql_query("SELECT * FROM movies", con_sqlt)
con_sqlt.close()

dfdb

In [ ]:
!pip install openpyxl

In [ ]:
dfxl = pd.read_excel("../data/FoodMarket.xlsx", sheet_name='Purchases')
dfxl

### Exportar

In [73]:
dfxl.to_json('../data/Purchases.json')

In [ ]:
con_sqlt = sqlite3.connect("../data/database.db")

dffr.to_sql(name="frutas", con=con_sqlt)

# con_sqlt.close()

### Atributos

In [ ]:
dfxl.info()
dfcol.info()

In [ ]:
dfcol.size
dfcol.shape
dfxl.shape

In [ ]:
print(dfxl.columns)
print(dfxl.index)
print(dfxl.axes)
print(dfxl.values)

In [ ]:
print(dfcol.dtypes)

In [ ]:
dfxl.head(10)

In [ ]:
dfxl.tail(10)

In [ ]:
dfxl.describe()

### Renombrar y modificar: índices y columnas

In [112]:
dfcol.rename(columns={'nombre': 'nombre y apellido', 'peso': 'pesos'}, index={0: 1000, 10: 101}, inplace=True)

In [ ]:
dfcol

In [ ]:
dfcol.set_index("nombre y apellido")

In [ ]:
dfcol.reindex(index=[4, 3, 1], columns=['edad', 'altura'])

### Acceso y filtrar

In [ ]:
help(dfcol.loc)

In [ ]:
help(dfcol.iloc)

In [ ]:
dfcol

In [ ]:
dfcol[['altura','peso']]

In [ ]:
dfcol.iloc[1,:3]

In [ ]:
dfcol.iloc[1:5, 2:4]

In [ ]:
dfcol.loc[2:, ['colesterol','peso']]

In [ ]:
mask = dfcol.loc[:, 'peso'] > 70
print(mask)
dfcol[mask]

In [ ]:
mask = dfcol.loc[:, ['pesos', 'altura']] > [70, 1.5]
mask
dfcol[mask]

In [ ]:
mask = dfcol.isin([20, 1.7,'Javier García Sánchez'])
print(mask)
dfcol[mask]

In [ ]:
mask = ~dfcol.isin({'peso':[75,85],'edad':[35]})
print(mask)
dfcol[mask]

In [ ]:
dfcol[mask].dropna()

### Operaciones columnas

In [ ]:
import pandas as pd
dfcol = pd.read_csv("../data/colesterol.csv")
dfcol.info()

In [ ]:
dfcol['edad'].describe()

In [ ]:
print(dfcol['edad'].count())
print(dfcol['edad'].mean())
print(dfcol['edad'].std())

In [ ]:
dfcol.describe()

In [ ]:
dfcol.describe(include='object')

In [ ]:
# help(dfcol.select_dtypes)

dfcol.select_dtypes(include=['int64','float64'])

In [ ]:
categorias = dfcol.select_dtypes(include=['object'])
categorias.head()

In [ ]:
dfcol['imc'] = dfcol['peso']/(dfcol['altura']**2)
dfcol

In [ ]:
dfcol.info()
dfcol['edad']=dfcol['edad'].astype('int32')
dfcol.info()
dfcol

In [ ]:
dfcol['date']='2024-10-19'
dfcol

# dfcol.info()

In [ ]:
dfcol['date']=pd.to_datetime(dfcol['date'], format='%Y-%m-%d')
dfcol.info()

In [ ]:
# print(dfcol['date'].dt)
# print(dfcol['date'].dt.year)
# print(dfcol['date'].dt.month)
# print(dfcol['date'].dt.day)
print(dfcol['date'].dt.to_period('M'))

In [ ]:
import datetime

ahora = datetime.datetime.now()
print(ahora)

diff_in_days = ahora - dfcol['date']
print(diff_in_days)
print(diff_in_days.dt.days)

In [ ]:
from math import log

dfcol['altura'].apply(log)

In [ ]:
def calc_es_sobrepeso(val):
    if val < 18.5:
        return 'bajo'
    elif val >= 18.5 and val <= 24.9:
        return 'normal'
    elif val >= 25 and val <= 29.9:
        return 'sobrepeso'
    elif val >= 30:
        return 'obeso'


dfcol['esatdo_peso'] = dfcol['imc'].apply(calc_es_sobrepeso)
dfcol

In [ ]:
edad = dfcol.pop('edad')
print(edad)

print(dfcol)

### Operaciones filas

In [83]:
# help(pd.concat)
dfcol

,nombre,sexo,peso,altura,colesterol,imc,date,esatdo_peso
0,José Luis Martínez Izquierdo,H,85.0,1.79,182.0,26.528510,2024-10-19,sobrepeso
1,Rosa Díaz Díaz,M,65.0,1.73,232.0,21.718066,2024-10-19,normal
2,Javier García Sánchez,H,NaN,1.81,191.0,NaN,2024-10-19,None
3,Carmen López Pinzón,M,65.0,1.70,200.0,22.491349,2024-10-19,normal
4,Marisa López Collado,M,51.0,1.58,148.0,20.429418,2024-10-19,normal
5,Antonio Ruiz Cruz,H,66.0,1.74,249.0,21.799445,2024-10-19,normal
6,Antonio Fernández Ocaña,H,62.0,1.72,276.0,20.957274,2024-10-19,normal
7,Pilar Martín González,M,60.0,1.66,NaN,21.773842,2024-10-19,normal
8,Pedro Gálvez Tenorio,H,90.0,1.94,241.0,23.913275,2024-10-19,normal
9,Santiago Reillo Manzano,H,75.0,1.85,280.0,21.913806,2024-10-19,normal
10,Macarena Álvarez Luna,M,55.0,1.62,262.0,20.957171,2024-10-19,normal
11,José María de la Guía Sanz,H,78.0,1.87,198.0,22.305471,2024-10-19,normal
12,Miguel Angel Cuadrado Gutiérrez,H,109.0,1.98,210.0,27.803285,2024-10-19,sobrepeso
13,Carolina Rubio Moreno,M,61.0,1.77,194.0,19.470778,2024-10-19,normal

In [87]:
nfila = dfcol.iloc[-1]

dfd = pd.DataFrame([nfila])

pd.concat((dfcol, dfd), ignore_index=True)

,nombre,sexo,peso,altura,colesterol,imc,date,esatdo_peso
0,José Luis Martínez Izquierdo,H,85.0,1.79,182.0,26.528510,2024-10-19,sobrepeso
1,Rosa Díaz Díaz,M,65.0,1.73,232.0,21.718066,2024-10-19,normal
2,Javier García Sánchez,H,NaN,1.81,191.0,NaN,2024-10-19,None
3,Carmen López Pinzón,M,65.0,1.70,200.0,22.491349,2024-10-19,normal
4,Marisa López Collado,M,51.0,1.58,148.0,20.429418,2024-10-19,normal
5,Antonio Ruiz Cruz,H,66.0,1.74,249.0,21.799445,2024-10-19,normal
6,Antonio Fernández Ocaña,H,62.0,1.72,276.0,20.957274,2024-10-19,normal
7,Pilar Martín González,M,60.0,1.66,NaN,21.773842,2024-10-19,normal
8,Pedro Gálvez Tenorio,H,90.0,1.94,241.0,23.913275,2024-10-19,normal
9,Santiago Reillo Manzano,H,75.0,1.85,280.0,21.913806,2024-10-19,normal
10,Macarena Álvarez Luna,M,55.0,1.62,262.0,20.957171,2024-10-19,normal
11,José María de la Guía Sanz,H,78.0,1.87,198.0,22.305471,2024-10-19,normal
12,Miguel Angel Cuadrado Gutiérrez,H,109.0,1.98,210.0,27.803285,2024-10-19,sobrepeso
13,Carolina Rubio Moreno,M,61.0,1.77,194.0,19.470778,2024-10-19,normal
14,Carolina Rubio Moreno,M,61.0,1.77,194.0,19.470778,2024-10-19,normal

In [92]:
dfcol.drop(index=[1,3])

,nombre,sexo,peso,altura,colesterol,imc,date,esatdo_peso
0,José Luis Martínez Izquierdo,H,85.0,1.79,182.0,26.528510,2024-10-19,sobrepeso
2,Javier García Sánchez,H,NaN,1.81,191.0,NaN,2024-10-19,None
4,Marisa López Collado,M,51.0,1.58,148.0,20.429418,2024-10-19,normal
5,Antonio Ruiz Cruz,H,66.0,1.74,249.0,21.799445,2024-10-19,normal
6,Antonio Fernández Ocaña,H,62.0,1.72,276.0,20.957274,2024-10-19,normal
7,Pilar Martín González,M,60.0,1.66,NaN,21.773842,2024-10-19,normal
8,Pedro Gálvez Tenorio,H,90.0,1.94,241.0,23.913275,2024-10-19,normal
9,Santiago Reillo Manzano,H,75.0,1.85,280.0,21.913806,2024-10-19,normal
10,Macarena Álvarez Luna,M,55.0,1.62,262.0,20.957171,2024-10-19,normal
11,José María de la Guía Sanz,H,78.0,1.87,198.0,22.305471,2024-10-19,normal
12,Miguel Angel Cuadrado Gutiérrez,H,109.0,1.98,210.0,27.803285,2024-10-19,sobrepeso
13,Carolina Rubio Moreno,M,61.0,1.77,194.0,19.470778,2024-10-19,normal

In [94]:
dfcol.dropna()

,nombre,sexo,peso,altura,colesterol,imc,date,esatdo_peso
0,José Luis Martínez Izquierdo,H,85.0,1.79,182.0,26.528510,2024-10-19,sobrepeso
1,Rosa Díaz Díaz,M,65.0,1.73,232.0,21.718066,2024-10-19,normal
3,Carmen López Pinzón,M,65.0,1.70,200.0,22.491349,2024-10-19,normal
4,Marisa López Collado,M,51.0,1.58,148.0,20.429418,2024-10-19,normal
5,Antonio Ruiz Cruz,H,66.0,1.74,249.0,21.799445,2024-10-19,normal
6,Antonio Fernández Ocaña,H,62.0,1.72,276.0,20.957274,2024-10-19,normal
8,Pedro Gálvez Tenorio,H,90.0,1.94,241.0,23.913275,2024-10-19,normal
9,Santiago Reillo Manzano,H,75.0,1.85,280.0,21.913806,2024-10-19,normal
10,Macarena Álvarez Luna,M,55.0,1.62,262.0,20.957171,2024-10-19,normal
11,José María de la Guía Sanz,H,78.0,1.87,198.0,22.305471,2024-10-19,normal
12,Miguel Angel Cuadrado Gutiérrez,H,109.0,1.98,210.0,27.803285,2024-10-19,sobrepeso
13,Carolina Rubio Moreno,M,61.0,1.77,194.0,19.470778,2024-10-19,normal

In [97]:
dfcol.replace({'sexo':{'H':'Hombre','M':'Mujer'}})

,nombre,sexo,peso,altura,colesterol,imc,date,esatdo_peso
0,José Luis Martínez Izquierdo,Hombre,85.0,1.79,182.0,26.528510,2024-10-19,sobrepeso
1,Rosa Díaz Díaz,Mujer,65.0,1.73,232.0,21.718066,2024-10-19,normal
2,Javier García Sánchez,Hombre,NaN,1.81,191.0,NaN,2024-10-19,None
3,Carmen López Pinzón,Mujer,65.0,1.70,200.0,22.491349,2024-10-19,normal
4,Marisa López Collado,Mujer,51.0,1.58,148.0,20.429418,2024-10-19,normal
5,Antonio Ruiz Cruz,Hombre,66.0,1.74,249.0,21.799445,2024-10-19,normal
6,Antonio Fernández Ocaña,Hombre,62.0,1.72,276.0,20.957274,2024-10-19,normal
7,Pilar Martín González,Mujer,60.0,1.66,NaN,21.773842,2024-10-19,normal
8,Pedro Gálvez Tenorio,Hombre,90.0,1.94,241.0,23.913275,2024-10-19,normal
9,Santiago Reillo Manzano,Hombre,75.0,1.85,280.0,21.913806,2024-10-19,normal
10,Macarena Álvarez Luna,Mujer,55.0,1.62,262.0,20.957171,2024-10-19,normal
11,José María de la Guía Sanz,Hombre,78.0,1.87,198.0,22.305471,2024-10-19,normal
12,Miguel Angel Cuadrado Gutiérrez,Hombre,109.0,1.98,210.0,27.803285,2024-10-19,sobrepeso
13,Carolina Rubio Moreno,Mujer,61.0,1.77,194.0,19.470778,2024-10-19,normal

## Ordenar

In [100]:
dfcol

,nombre,sexo,peso,altura,colesterol,imc,date,esatdo_peso
0,José Luis Martínez Izquierdo,H,85.0,1.79,182.0,26.528510,2024-10-19,sobrepeso
1,Rosa Díaz Díaz,M,65.0,1.73,232.0,21.718066,2024-10-19,normal
2,Javier García Sánchez,H,NaN,1.81,191.0,NaN,2024-10-19,None
3,Carmen López Pinzón,M,65.0,1.70,200.0,22.491349,2024-10-19,normal
4,Marisa López Collado,M,51.0,1.58,148.0,20.429418,2024-10-19,normal
5,Antonio Ruiz Cruz,H,66.0,1.74,249.0,21.799445,2024-10-19,normal
6,Antonio Fernández Ocaña,H,62.0,1.72,276.0,20.957274,2024-10-19,normal
7,Pilar Martín González,M,60.0,1.66,NaN,21.773842,2024-10-19,normal
8,Pedro Gálvez Tenorio,H,90.0,1.94,241.0,23.913275,2024-10-19,normal
9,Santiago Reillo Manzano,H,75.0,1.85,280.0,21.913806,2024-10-19,normal
10,Macarena Álvarez Luna,M,55.0,1.62,262.0,20.957171,2024-10-19,normal
11,José María de la Guía Sanz,H,78.0,1.87,198.0,22.305471,2024-10-19,normal
12,Miguel Angel Cuadrado Gutiérrez,H,109.0,1.98,210.0,27.803285,2024-10-19,sobrepeso
13,Carolina Rubio Moreno,M,61.0,1.77,194.0,19.470778,2024-10-19,normal

In [107]:
dfcol.sort_values(['sexo', 'nombre',  'altura'], ascending=[True, False, True])

,nombre,sexo,peso,altura,colesterol,imc,date,esatdo_peso
9,Santiago Reillo Manzano,H,75.0,1.85,280.0,21.913806,2024-10-19,normal
8,Pedro Gálvez Tenorio,H,90.0,1.94,241.0,23.913275,2024-10-19,normal
12,Miguel Angel Cuadrado Gutiérrez,H,109.0,1.98,210.0,27.803285,2024-10-19,sobrepeso
11,José María de la Guía Sanz,H,78.0,1.87,198.0,22.305471,2024-10-19,normal
0,José Luis Martínez Izquierdo,H,85.0,1.79,182.0,26.528510,2024-10-19,sobrepeso
2,Javier García Sánchez,H,NaN,1.81,191.0,NaN,2024-10-19,None
5,Antonio Ruiz Cruz,H,66.0,1.74,249.0,21.799445,2024-10-19,normal
6,Antonio Fernández Ocaña,H,62.0,1.72,276.0,20.957274,2024-10-19,normal
1,Rosa Díaz Díaz,M,65.0,1.73,232.0,21.718066,2024-10-19,normal
7,Pilar Martín González,M,60.0,1.66,NaN,21.773842,2024-10-19,normal
4,Marisa López Collado,M,51.0,1.58,148.0,20.429418,2024-10-19,normal
10,Macarena Álvarez Luna,M,55.0,1.62,262.0,20.957171,2024-10-19,normal
13,Carolina Rubio Moreno,M,61.0,1.77,194.0,19.470778,2024-10-19,normal
3,Carmen López Pinzón,M,65.0,1.70,200.0,22.491349,2024-10-19,normal

### Agrupamiento

In [109]:
dfcol = pd.read_csv("../data/colesterol.csv")
dfcol.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   nombre      14 non-null     object
 1   edad        14 non-null     int64
 2   sexo        14 non-null     object
 3   peso        13 non-null     float64
 4   altura      14 non-null     float64
 5   colesterol  13 non-null     float64
dtypes: float64(3), int64(1), object(2)
memory usage: 800.0+ bytes

In [112]:
# help(dfcol.groupby)

In [120]:
print(dfcol.groupby('sexo').groups)
# print(dfcol.groupby('sexo').get_group('H'))
print(dfcol.groupby('sexo').describe())

{'H': [0, 2, 5, 6, 8, 9, 11, 12], 'M': [1, 3, 4, 7, 10, 13]}
      edad                                                        peso  \
     count       mean        std   min    25%   50%    75%   max count
sexo
H      8.0  40.875000  17.699374  18.0  26.25  40.5  52.75  68.0   7.0
M      6.0  34.666667  13.017936  20.0  24.50  33.5  43.25  53.0   6.0

                 ...  altura       colesterol                             \
           mean  ...     75%   max      count     mean        std    min
sexo             ...
H     80.714286  ...  1.8875  1.98        8.0  228.375  38.407356  182.0
M     59.500000  ...  1.7225  1.77        5.0  207.200  42.862571  148.0


         25%    50%     75%    max
sexo
H     196.25  225.5  255.75  280.0
M     194.00  200.0  232.00  262.0

[2 rows x 32 columns]

In [123]:
print(dfcol.groupby(['sexo','peso']).groups)
print(dfcol.groupby(['sexo','peso']).first())

{('H', 85.0): [0], ('H', nan): [2], ('H', 62.0): [6], ('H', 66.0): [5], ('H', 75.0): [9], ('H', 78.0): [11], ('H', 90.0): [8], ('H', 109.0): [12], ('M', 51.0): [4], ('M', 55.0): [10], ('M', 60.0): [7], ('M', 61.0): [13], ('M', 65.0): [1, 3]}
                                     nombre  edad  altura  colesterol
sexo peso
H    62.0           Antonio Fernández Ocaña    51    1.72       276.0
     66.0                 Antonio Ruiz Cruz    68    1.74       249.0
     75.0           Santiago Reillo Manzano    46    1.85       280.0
     78.0        José María de la Guía Sanz    58    1.87       198.0
     85.0      José Luis Martínez Izquierdo    18    1.79       182.0
     90.0              Pedro Gálvez Tenorio    35    1.94       241.0
     109.0  Miguel Angel Cuadrado Gutiérrez    27    1.98       210.0
M    51.0              Marisa López Collado    46    1.58       148.0
     55.0             Macarena Álvarez Luna    53    1.62       262.0
     60.0             Pilar Martín González    22    1.66         NaN
     61.0             Carolina Rubio Moreno    20    1.77       194.0
     65.0                    Rosa Díaz Díaz    32    1.73       232.0

In [129]:
import numpy as np
dfcol.aggregate([np.mean])
dfcol.aggregate([np.sum,'min','max'])

,nombre,edad,sexo,peso,altura,colesterol
sum,José Luis Martínez IzquierdoRosa Díaz DíazJavi...,535,HMHMMHHMHHMHHM,922.0,24.76,2863.0
min,Antonio Fernández Ocaña,18,H,51.0,1.58,148.0
max,Santiago Reillo Manzano,68,M,109.0,1.98,280.0

In [135]:
print(dfcol.groupby('sexo').first())

dfcol.groupby('sexo').agg(np.sum)

                            nombre  edad  peso  altura  colesterol
sexo
H     José Luis Martínez Izquierdo    18  85.0    1.79       182.0
M                   Rosa Díaz Díaz    32  65.0    1.73       232.0

      edad   peso  altura  colesterol
sexo
H      327  565.0   14.70      1827.0
M      208  357.0   10.06      1036.0

In [137]:
dfcol.groupby('sexo').agg({'edad': np.sum, 'colesterol': np.mean})

      edad  colesterol
sexo
H      327     228.375
M      208     207.200

In [140]:
print(dfcol.groupby(['sexo','peso']).first())

dfcol.groupby(['sexo','peso']).agg(np.sum)

                                     nombre  edad  altura  colesterol
sexo peso
H    62.0           Antonio Fernández Ocaña    51    1.72       276.0
     66.0                 Antonio Ruiz Cruz    68    1.74       249.0
     75.0           Santiago Reillo Manzano    46    1.85       280.0
     78.0        José María de la Guía Sanz    58    1.87       198.0
     85.0      José Luis Martínez Izquierdo    18    1.79       182.0
     90.0              Pedro Gálvez Tenorio    35    1.94       241.0
     109.0  Miguel Angel Cuadrado Gutiérrez    27    1.98       210.0
M    51.0              Marisa López Collado    46    1.58       148.0
     55.0             Macarena Álvarez Luna    53    1.62       262.0
     60.0             Pilar Martín González    22    1.66         NaN
     61.0             Carolina Rubio Moreno    20    1.77       194.0
     65.0                    Rosa Díaz Díaz    32    1.73       232.0

            edad  altura  colesterol
sexo peso
H    62.0     51    1.72       276.0
     66.0     68    1.74       249.0
     75.0     46    1.85       280.0
     78.0     58    1.87       198.0
     85.0     18    1.79       182.0
     90.0     35    1.94       241.0
     109.0    27    1.98       210.0
M    51.0     46    1.58       148.0
     55.0     53    1.62       262.0
     60.0     22    1.66         0.0
     61.0     20    1.77       194.0
     65.0     67    3.43       432.0