# Pandas

In [1]:
import pandas as pd

## Series

In [ ]:
help(pd.Series)

In [ ]:
s = pd.Series([1, 2, 3, 4, 5, 6])
s

In [ ]:
s = pd.Series({'math':10, 'leng':7, 'art': 2})
s

In [ ]:
print(s.size)
print(s.index)
print(s.dtype)

In [ ]:
print(s['math'])
print(s[1])
print(s[:2])
print(s[['leng','art']])

#### Resumen descriptivo

In [ ]:
s = pd.Series([1, 2, 3, 4, 2, 5, 6])

print(s.count())
print(s.value_counts())
print(s.value_counts(normalize=True))
print(s.min())
print(s.max())
print(s.var())
print(s.std())

In [ ]:
print(s.describe())

In [ ]:
print(s.sum())
print(s.cumsum())

#### Operariones

In [ ]:
s * 2
s % 2

In [ ]:
st = pd.Series(['a', 'b', 'c'])
st*4

In [ ]:
help(s.apply)

In [ ]:
import math
import numpy as np
s.apply(np.sqrt)

In [ ]:
st.apply(str.upper)

In [ ]:
def mifunc(val):
    return str(val).upper()

s.apply(lambda x: x*2+3)

st.apply(mifunc)

#### Filtrar y ordenar

In [ ]:
mask  = s > 2
print(mask)

s2 = s[mask]
print(s2)
print(s)

In [ ]:
s.sort_values()
s.sort_index(ascending=False)

In [ ]:
sx = pd.Series(['a', 'b', None, 'c', np.nan, 'd'])
print(sx)

sy = sx.dropna()
print(sy)

In [ ]:
help(sx.drop)

## DataFrames

### Creación

In [ ]:
help(pd.DataFrame)

In [54]:

diccionario = {
    'nombre': ['María', 'Luis', 'Carmen', 'Antonio'],
    'edad': [18, 22, 20, 21],
    'grado': ['Economía', 'Medicina', 'Arquitectura', 'Economía'],
    'correo': ['maria@gmail.com', 'luis@yahoo.es', 'carmen@gmail.com', 'antonio@gmail.com']
}

lista_de_listas = [['María', 18],
                   ['Luis', 22],
                   ['Carmen', 20]]

lista_de_dicts = [{'Nombre': 'María', 'Edad': 18},
                  {'Nombre': 'Luis', 'Edad': 22},
                  {'Nombre': 'Carmen'}]

In [ ]:
df = pd.DataFrame(diccionario)
df

In [ ]:
df = pd.DataFrame(lista_de_dicts)
df

In [ ]:
df = pd.DataFrame(lista_de_listas, columns=['Nombre','Edad'])
df

#### Desde fuentes

In [ ]:
dfcol = pd.read_csv("../data/colesterol.csv")
print(dfcol)

In [ ]:
dfcol = pd.read_csv("https://github.com/ricardoahumada/DataScienceBasics/raw/refs/heads/main/data/colesterol.csv")
print(dfcol)

In [ ]:
dffr = pd.read_json('../data/frutas.json')
dffr

In [ ]:
# !pip install sqlite3
import sqlite3

con_sqlt = sqlite3.connect("../data/database.db")
dfdb = pd.read_sql_query("SELECT * FROM movies", con_sqlt)
con_sqlt.close()

dfdb

In [ ]:
# !pip install openpyxl

In [ ]:
dfxl = pd.read_excel("../data/FoodMarket.xlsx", sheet_name='Purchases')
dfxl

### Exportar

In [64]:
dfxl.to_json('../data/Purchases.json')

In [ ]:
# !pip install pysqlite3

In [ ]:
import sqlite3

con_sqlt = sqlite3.connect("../data/database.db")

dffr.to_sql(name="frutas", con=con_sqlt)

# con_sqlt.close()

### Atributos

In [ ]:
dfxl.info()
dfcol.info()

In [ ]:
dfcol.size
dfcol.shape
dfxl.shape

In [ ]:
print(dfxl.columns)
print(dfxl.index)
print(dfxl.axes)
print(dfxl.values)

In [ ]:
print(dfcol.dtypes)

In [ ]:
dfxl.head(10)

In [ ]:
dfxl.tail(10)

In [ ]:
dfxl.describe()

### Renombrar y modificar: índices y columnas

In [112]:
dfcol.rename(columns={'nombre': 'nombre y apellido', 'peso': 'pesos'}, index={0: 1000, 10: 101}, inplace=True)

In [ ]:
dfcol

In [ ]:
dfcol.set_index("nombre y apellido")

In [ ]:
dfcol.reindex(index=[4, 3, 1], columns=['edad', 'altura'])

### Acceso y filtrar

In [ ]:
help(dfcol.loc)

In [ ]:
help(dfcol.iloc)

In [ ]:
dfcol

In [ ]:
dfcol[['altura','peso']]

In [ ]:
dfcol.iloc[1,:3]

In [ ]:
dfcol.iloc[1:5, 2:4]

In [ ]:
dfcol.loc[2:, ['colesterol','peso']]

In [ ]:
mask = dfcol.loc[:, 'peso'] > 70
print(mask)
dfcol[mask]

In [ ]:
mask = dfcol.loc[:, ['pesos', 'altura']] > [70, 1.5]
mask
dfcol[mask]

In [ ]:
mask = dfcol.isin([20, 1.7,'Javier García Sánchez'])
print(mask)
dfcol[mask]

In [ ]:
mask = ~dfcol.isin({'peso':[75,85],'edad':[35]})
print(mask)
dfcol[mask]

In [ ]:
dfcol[mask].dropna()

### Operaciones columnas

In [ ]:
import pandas as pd
dfcol = pd.read_csv("../data/colesterol.csv")
dfcol.info()

In [ ]:
dfcol['edad'].describe()

In [ ]:
print(dfcol['edad'].count())
print(dfcol['edad'].mean())
print(dfcol['edad'].std())

In [ ]:
dfcol.describe()

In [ ]:
dfcol.describe(include='object')

In [ ]:
# help(dfcol.select_dtypes)

dfcol.select_dtypes(include=['int64','float64'])

In [ ]:
categorias = dfcol.select_dtypes(include=['object'])
categorias.head()

In [ ]:
dfcol['imc'] = dfcol['peso']/(dfcol['altura']**2)
dfcol

In [ ]:
dfcol.info()
dfcol['edad']=dfcol['edad'].astype('int32')
dfcol.info()
dfcol

In [ ]:
dfcol['date']='2024-10-19'
dfcol

# dfcol.info()

In [ ]:
dfcol['date']=pd.to_datetime(dfcol['date'], format='%Y-%m-%d')
dfcol.info()

In [ ]:
# print(dfcol['date'].dt)
# print(dfcol['date'].dt.year)
# print(dfcol['date'].dt.month)
# print(dfcol['date'].dt.day)
print(dfcol['date'].dt.to_period('M'))

In [ ]:
import datetime

ahora = datetime.datetime.now()
print(ahora)

diff_in_days = ahora - dfcol['date']
print(diff_in_days)
print(diff_in_days.dt.days)

In [ ]:
from math import log

dfcol['altura'].apply(log)

In [ ]:
def calc_es_sobrepeso(val):
    if val < 18.5:
        return 'bajo'
    elif val >= 18.5 and val <= 24.9:
        return 'normal'
    elif val >= 25 and val <= 29.9:
        return 'sobrepeso'
    elif val >= 30:
        return 'obeso'


dfcol['esatdo_peso'] = dfcol['imc'].apply(calc_es_sobrepeso)
dfcol

In [ ]:
edad = dfcol.pop('edad')
print(edad)

print(dfcol)

### Operaciones filas

In [ ]:
# help(pd.concat)
dfcol

In [ ]:
nfila = dfcol.iloc[-1]

dfd = pd.DataFrame([nfila])

pd.concat((dfcol, dfd), ignore_index=True)

In [ ]:
dfcol.drop(index=[1,3])

In [ ]:
dfcol.dropna()

In [ ]:
dfcol.replace({'sexo':{'H':'Hombre','M':'Mujer'}})

## Ordenar

In [ ]:
dfcol

In [ ]:
dfcol.sort_values(['sexo', 'nombre',  'altura'], ascending=[True, False, True])

### Agrupamiento

In [16]:
import pandas as pd
dfcol = pd.read_csv("../data/colesterol.csv")
dfcol.info()
print(dfcol)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   nombre      14 non-null     object
 1   edad        14 non-null     int64
 2   sexo        14 non-null     object
 3   peso        13 non-null     float64
 4   altura      14 non-null     float64
 5   colesterol  13 non-null     float64
dtypes: float64(3), int64(1), object(2)
memory usage: 800.0+ bytes
                             nombre  edad sexo   peso  altura  colesterol
0      José Luis Martínez Izquierdo    18    H   85.0    1.79       182.0
1                    Rosa Díaz Díaz    32    M   65.0    1.73       232.0
2             Javier García Sánchez    24    H    NaN    1.81       191.0
3               Carmen López Pinzón    35    M   65.0    1.70       200.0
4              Marisa López Collado    46    M   51.0    1.58       148.0
5                 Antonio Ruiz Cruz    68    H   66.0    1.74       249.0
6           Antonio Fernández Ocaña    51    H   62.0    1.72       276.0
7             Pilar Martín González    22    M   60.0    1.66         NaN
8              Pedro Gálvez Tenorio    35    H   90.0    1.94       241.0
9           Santiago Reillo Manzano    46    H   75.0    1.85       280.0
10            Macarena Álvarez Luna    53    M   55.0    1.62       262.0
11       José María de la Guía Sanz    58    H   78.0    1.87       198.0
12  Miguel Angel Cuadrado Gutiérrez    27    H  109.0    1.98       210.0
13            Carolina Rubio Moreno    20    M   61.0    1.77       194.0

In [112]:
# help(dfcol.groupby)

In [17]:
print(dfcol.groupby('sexo').groups)
# print(dfcol.groupby('sexo').get_group('H'))
print(dfcol.groupby('sexo').describe())

{'H': [0, 2, 5, 6, 8, 9, 11, 12], 'M': [1, 3, 4, 7, 10, 13]}
      edad                                                        peso  \
     count       mean        std   min    25%   50%    75%   max count
sexo
H      8.0  40.875000  17.699374  18.0  26.25  40.5  52.75  68.0   7.0
M      6.0  34.666667  13.017936  20.0  24.50  33.5  43.25  53.0   6.0

                 ...  altura       colesterol                             \
           mean  ...     75%   max      count     mean        std    min
sexo             ...
H     80.714286  ...  1.8875  1.98        8.0  228.375  38.407356  182.0
M     59.500000  ...  1.7225  1.77        5.0  207.200  42.862571  148.0


         25%    50%     75%    max
sexo
H     196.25  225.5  255.75  280.0
M     194.00  200.0  232.00  262.0

[2 rows x 32 columns]

In [18]:
print(dfcol.groupby(['sexo','peso']).groups)
print(dfcol.groupby(['sexo','peso']).first())

{('H', 85.0): [0], ('H', nan): [2], ('H', 62.0): [6], ('H', 66.0): [5], ('H', 75.0): [9], ('H', 78.0): [11], ('H', 90.0): [8], ('H', 109.0): [12], ('M', 51.0): [4], ('M', 55.0): [10], ('M', 60.0): [7], ('M', 61.0): [13], ('M', 65.0): [1, 3]}
                                     nombre  edad  altura  colesterol
sexo peso
H    62.0           Antonio Fernández Ocaña    51    1.72       276.0
     66.0                 Antonio Ruiz Cruz    68    1.74       249.0
     75.0           Santiago Reillo Manzano    46    1.85       280.0
     78.0        José María de la Guía Sanz    58    1.87       198.0
     85.0      José Luis Martínez Izquierdo    18    1.79       182.0
     90.0              Pedro Gálvez Tenorio    35    1.94       241.0
     109.0  Miguel Angel Cuadrado Gutiérrez    27    1.98       210.0
M    51.0              Marisa López Collado    46    1.58       148.0
     55.0             Macarena Álvarez Luna    53    1.62       262.0
     60.0             Pilar Martín González    22    1.66         NaN
     61.0             Carolina Rubio Moreno    20    1.77       194.0
     65.0                    Rosa Díaz Díaz    32    1.73       232.0

In [24]:
import numpy as np
# help(dfcol.aggregate)

# dfcol.aggregate([np.mean])
dfcol.aggregate([np.sum,'min','max'])

/tmp/ipykernel_32383/2403368917.py:5: FutureWarning: The provided callable <function sum at 0x7fe3f0681120> is currently using Series.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  dfcol.aggregate([np.sum,'min','max'])

,nombre,edad,sexo,peso,altura,colesterol
sum,José Luis Martínez IzquierdoRosa Díaz DíazJavi...,535,HMHMMHHMHHMHHM,922.0,24.76,2863.0
min,Antonio Fernández Ocaña,18,H,51.0,1.58,148.0
max,Santiago Reillo Manzano,68,M,109.0,1.98,280.0

In [14]:
print(dfcol.groupby('sexo').first())

dfcol.groupby('sexo').agg(np.sum)

                            nombre  edad  peso  altura  colesterol
sexo
H     José Luis Martínez Izquierdo    18  85.0    1.79       182.0
M                   Rosa Díaz Díaz    32  65.0    1.73       232.0

/tmp/ipykernel_32383/983893017.py:3: FutureWarning: The provided callable <function sum at 0x7fe3f0681120> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  dfcol.groupby('sexo').agg(np.sum)

,nombre,edad,peso,altura,colesterol
sexo,,,,,
H,José Luis Martínez IzquierdoJavier García Sánc...,327,565.0,14.70,1827.0
M,Rosa Díaz DíazCarmen López PinzónMarisa López ...,208,357.0,10.06,1036.0

In [22]:
dfcol.groupby('sexo').agg({'edad': np.sum, 'colesterol': np.mean})

/tmp/ipykernel_32383/1438704059.py:1: FutureWarning: The provided callable <function sum at 0x7fe3f0681120> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  dfcol.groupby('sexo').agg({'edad': np.sum, 'colesterol': np.mean})
/tmp/ipykernel_32383/1438704059.py:1: FutureWarning: The provided callable <function mean at 0x7fe3f0682560> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  dfcol.groupby('sexo').agg({'edad': np.sum, 'colesterol': np.mean})

      edad  colesterol
sexo
H      327     228.375
M      208     207.200

In [23]:
print(dfcol.groupby(['sexo','peso']).first())

dfcol.groupby(['sexo','peso']).agg(np.sum)

                                     nombre  edad  altura  colesterol
sexo peso
H    62.0           Antonio Fernández Ocaña    51    1.72       276.0
     66.0                 Antonio Ruiz Cruz    68    1.74       249.0
     75.0           Santiago Reillo Manzano    46    1.85       280.0
     78.0        José María de la Guía Sanz    58    1.87       198.0
     85.0      José Luis Martínez Izquierdo    18    1.79       182.0
     90.0              Pedro Gálvez Tenorio    35    1.94       241.0
     109.0  Miguel Angel Cuadrado Gutiérrez    27    1.98       210.0
M    51.0              Marisa López Collado    46    1.58       148.0
     55.0             Macarena Álvarez Luna    53    1.62       262.0
     60.0             Pilar Martín González    22    1.66         NaN
     61.0             Carolina Rubio Moreno    20    1.77       194.0
     65.0                    Rosa Díaz Díaz    32    1.73       232.0

/tmp/ipykernel_32383/3170945741.py:3: FutureWarning: The provided callable <function sum at 0x7fe3f0681120> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  dfcol.groupby(['sexo','peso']).agg(np.sum)

                                       nombre  edad  altura  colesterol
sexo peso
H    62.0             Antonio Fernández Ocaña    51    1.72       276.0
     66.0                   Antonio Ruiz Cruz    68    1.74       249.0
     75.0             Santiago Reillo Manzano    46    1.85       280.0
     78.0          José María de la Guía Sanz    58    1.87       198.0
     85.0        José Luis Martínez Izquierdo    18    1.79       182.0
     90.0                Pedro Gálvez Tenorio    35    1.94       241.0
     109.0    Miguel Angel Cuadrado Gutiérrez    27    1.98       210.0
M    51.0                Marisa López Collado    46    1.58       148.0
     55.0               Macarena Álvarez Luna    53    1.62       262.0
     60.0               Pilar Martín González    22    1.66         0.0
     61.0               Carolina Rubio Moreno    20    1.77       194.0
     65.0   Rosa Díaz DíazCarmen López Pinzón    67    3.43       432.0

In [32]:
dfcol['rangos_edad'] = pd.cut(x=dfcol['edad'], bins=[1, 20, 40, 60, 80, 100])
dfcol

,nombre,edad,sexo,peso,altura,colesterol,rangos_edad
0,José Luis Martínez Izquierdo,18,H,85.0,1.79,182.0,"(1, 20]"
1,Rosa Díaz Díaz,32,M,65.0,1.73,232.0,"(20, 40]"
2,Javier García Sánchez,24,H,NaN,1.81,191.0,"(20, 40]"
3,Carmen López Pinzón,35,M,65.0,1.70,200.0,"(20, 40]"
4,Marisa López Collado,46,M,51.0,1.58,148.0,"(40, 60]"
5,Antonio Ruiz Cruz,68,H,66.0,1.74,249.0,"(60, 80]"
6,Antonio Fernández Ocaña,51,H,62.0,1.72,276.0,"(40, 60]"
7,Pilar Martín González,22,M,60.0,1.66,NaN,"(20, 40]"
8,Pedro Gálvez Tenorio,35,H,90.0,1.94,241.0,"(20, 40]"
9,Santiago Reillo Manzano,46,H,75.0,1.85,280.0,"(40, 60]"
10,Macarena Álvarez Luna,53,M,55.0,1.62,262.0,"(40, 60]"
11,José María de la Guía Sanz,58,H,78.0,1.87,198.0,"(40, 60]"
12,Miguel Angel Cuadrado Gutiérrez,27,H,109.0,1.98,210.0,"(20, 40]"
13,Carolina Rubio Moreno,20,M,61.0,1.77,194.0,"(1, 20]"

### Concatenación de Dataframes

In [37]:
# help(pd.concat)

In [42]:
df1 = pd.DataFrame({"Nombre": ["Carmen", "Luis"],
                    "Sexo": ["Mujer", "Hombre"], "Edad": [22, 18]}).set_index("Nombre")
df2 = pd.DataFrame({"Nombre": ["María", "Pedro"],
                    "Sexo": ["Mujer", "Hombre"], "Edad": [25, 30]}).set_index("Nombre")

print(df1)
print(df2)

df = pd.concat([df1, df2], axis=0)
df

          Sexo  Edad
Nombre
Carmen   Mujer    22
Luis    Hombre    18
          Sexo  Edad
Nombre
María    Mujer    25
Pedro   Hombre    30

          Sexo  Edad
Nombre
Carmen   Mujer    22
Luis    Hombre    18
María    Mujer    25
Pedro   Hombre    30

In [46]:
df1 = pd.DataFrame({"Nombre": ["Carmen", "Luis", "María","José"],
                    "Sexo": ["Mujer", "Hombre", "Mujer","Hombre"]}).set_index("Nombre")

df2 = pd.DataFrame({"Nombre": ["Carmen", "Luis", "María"],
                    "Edad": [22, 18, 25]}).set_index("Nombre")

print(df1)
print(df2)

df = pd.concat([df1, df2], axis=1)
df

          Sexo
Nombre
Carmen   Mujer
Luis    Hombre
María    Mujer
José    Hombre
        Edad
Nombre
Carmen    22
Luis      18
María     25

          Sexo  Edad
Nombre
Carmen   Mujer  22.0
Luis    Hombre  18.0
María    Mujer  25.0
José    Hombre   NaN

In [48]:
help(df.merge)

Help on method merge in module pandas.core.frame:

merge(right: 'DataFrame | Series', how: 'MergeHow' = 'inner', on: 'IndexLabel | AnyArrayLike | None' = None, left_on: 'IndexLabel | AnyArrayLike | None' = None, right_on: 'IndexLabel | AnyArrayLike | None' = None, left_index: 'bool' = False, right_index: 'bool' = False, sort: 'bool' = False, suffixes: 'Suffixes' = ('_x', '_y'), copy: 'bool | None' = None, indicator: 'str | bool' = False, validate: 'MergeValidate | None' = None) -> 'DataFrame' method of pandas.core.frame.DataFrame instance
    Merge DataFrame or named Series objects with a database-style join.

    A named Series object is treated as a DataFrame with a single named column.

    The join is done on columns or indexes. If joining columns on
    columns, the DataFrame indexes *will be ignored*. Otherwise if joining indexes
    on indexes or indexes on a column or columns, the index will be passed on.
    When performing a cross merge, no column specifications to merge on are
    allowed.

    .. warning::

        If both key columns contain rows where the key is a null value, those
        rows will be matched against each other. This is different from usual SQL
        join behaviour and can lead to unexpected results.

    Parameters
    ----------
    right : DataFrame or named Series
        Object to merge with.
    how : {'left', 'right', 'outer', 'inner', 'cross'}, default 'inner'
        Type of merge to be performed.

        * left: use only keys from left frame, similar to a SQL left outer join;
          preserve key order.
        * right: use only keys from right frame, similar to a SQL right outer join;
          preserve key order.
        * outer: use union of keys from both frames, similar to a SQL full outer
          join; sort keys lexicographically.
        * inner: use intersection of keys from both frames, similar to a SQL inner
          join; preserve the order of the left keys.
        * cross: creates the cartesian product from both frames, preserves the order
          of the left keys.
    on : label or list
        Column or index level names to join on. These must be found in both
        DataFrames. If `on` is None and not merging on indexes then this defaults
        to the intersection of the columns in both DataFrames.
    left_on : label or list, or array-like
        Column or index level names to join on in the left DataFrame. Can also
        be an array or list of arrays of the length of the left DataFrame.
        These arrays are treated as if they are columns.
    right_on : label or list, or array-like
        Column or index level names to join on in the right DataFrame. Can also
        be an array or list of arrays of the length of the right DataFrame.
        These arrays are treated as if they are columns.
    left_index : bool, default False
        Use the index from the left DataFrame as the join key(s). If it is a
        MultiIndex, the number of keys in the other DataFrame (either the index
        or a number of columns) must match the number of levels.
    right_index : bool, default False
        Use the index from the right DataFrame as the join key. Same caveats as
        left_index.
    sort : bool, default False
        Sort the join keys lexicographically in the result DataFrame. If False,
        the order of the join keys depends on the join type (how keyword).
    suffixes : list-like, default is ("_x", "_y")
        A length-2 sequence where each element is optionally a string
        indicating the suffix to add to overlapping column names in
        `left` and `right` respectively. Pass a value of `None` instead
        of a string to indicate that the column name from `left` or
        `right` should be left as-is, with no suffix. At least one of the
        values must not be None.
    copy : bool, default True
        If False, avoid copy if possible.

        .. note::
            The `copy` keyword will change behavior in pandas 3.0.
            `Copy-on-Write
            <https://pandas.pydata.org/docs/dev/user_guide/copy_on_write.html>`__
            will be enabled by default, which means that all methods with a
            `copy` keyword will use a lazy copy mechanism to defer the copy and
            ignore the `copy` keyword. The `copy` keyword will be removed in a
            future version of pandas.

            You can already get the future behavior and improvements through
            enabling copy on write ``pd.options.mode.copy_on_write = True``
    indicator : bool or str, default False
        If True, adds a column to the output DataFrame called "_merge" with
        information on the source of each row. The column can be given a different
        name by providing a string argument. The column will have a Categorical
        type with the value of "left_only" for observations whose merge key only
        appears in the left DataFrame, "right_only" for observations
        whose merge key only appears in the right DataFrame, and "both"
        if the observation's merge key is found in both DataFrames.

    validate : str, optional
        If specified, checks if merge is of specified type.

        * "one_to_one" or "1:1": check if merge keys are unique in both
          left and right datasets.
        * "one_to_many" or "1:m": check if merge keys are unique in left
          dataset.
        * "many_to_one" or "m:1": check if merge keys are unique in right
          dataset.
        * "many_to_many" or "m:m": allowed, but does not result in checks.

    Returns
    -------
    DataFrame
        A DataFrame of the two merged objects.

    See Also
    --------
    merge_ordered : Merge with optional filling/interpolation.
    merge_asof : Merge on nearest keys.
    DataFrame.join : Similar method using indices.

    Examples
    --------
    >>> df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
    ...                     'value': [1, 2, 3, 5]})
    >>> df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
    ...                     'value': [5, 6, 7, 8]})
    >>> df1
        lkey value
    0   foo      1
    1   bar      2
    2   baz      3
    3   foo      5
    >>> df2
        rkey value
    0   foo      5
    1   bar      6
    2   baz      7
    3   foo      8

    Merge df1 and df2 on the lkey and rkey columns. The value columns have
    the default suffixes, _x and _y, appended.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey')
      lkey  value_x rkey  value_y
    0  foo        1  foo        5
    1  foo        1  foo        8
    2  bar        2  bar        6
    3  baz        3  baz        7
    4  foo        5  foo        5
    5  foo        5  foo        8

    Merge DataFrames df1 and df2 with specified left and right suffixes
    appended to any overlapping columns.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey',
    ...           suffixes=('_left', '_right'))
      lkey  value_left rkey  value_right
    0  foo           1  foo            5
    1  foo           1  foo            8
    2  bar           2  bar            6
    3  baz           3  baz            7
    4  foo           5  foo            5
    5  foo           5  foo            8

    Merge DataFrames df1 and df2, but raise an exception if the DataFrames have
    any overlapping columns.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey', suffixes=(False, False))
    Traceback (most recent call last):
    ...
    ValueError: columns overlap but no suffix specified:
        Index(['value'], dtype='object')

    >>> df1 = pd.DataFrame({'a': ['foo', 'bar'], 'b': [1, 2]})
    >>> df2 = pd.DataFrame({'a': ['foo', 'baz'], 'c': [3, 4]})
    >>> df1
          a  b
    0   foo  1
    1   bar  2
    >>> df2
          a  c
    0   foo  3
    1   baz  4

    >>> df1.merge(df2, how='inner', on='a')
          a  b  c
    0   foo  1  3

    >>> df1.merge(df2, how='left', on='a')
          a  b  c
    0   foo  1  3.0
    1   bar  2  NaN

    >>> df1 = pd.DataFrame({'left': ['foo', 'bar']})
    >>> df2 = pd.DataFrame({'right': [7, 8]})
    >>> df1
        left
    0   foo
    1   bar
    >>> df2
        right
    0   7
    1   8

    >>> df1.merge(df2, how='cross')
       left  right
    0   foo      7
    1   foo      8
    2   bar      7
    3   bar      8

In [52]:
df1 = pd.DataFrame({"Nombre": ["Carmen", "Luis", "María", "José"],
                    "Sexo": ["Mujer", "Hombre", "Mujer","Hombre"]}).set_index("Nombre")

df2 = pd.DataFrame({"Nombre": ["Carmen", "Luis", "María"],
                    "Edad": [22, 18, 25]}).set_index("Nombre")

print(df1)
print(df2)

df = pd.merge(df1, df2, how="right", on="Nombre")
df

          Sexo
Nombre
Carmen   Mujer
Luis    Hombre
María    Mujer
José    Hombre
        Edad
Nombre
Carmen    22
Luis      18
María     25

          Sexo  Edad
Nombre
Carmen   Mujer    22
Luis    Hombre    18
María    Mujer    25