# Pandas

In [20]:
import pandas as pd

## Series

In [ ]:
help(pd.Series)

In [ ]:
s = pd.Series([1, 2, 3, 4, 5, 6])
s

In [ ]:
s = pd.Series({'math':10, 'leng':7, 'art': 2})
s

In [ ]:
print(s.size)
print(s.index)
print(s.dtype)

In [ ]:
print(s['math'])
print(s[1])
print(s[:2])
print(s[['leng','art']])

#### Resumen descriptivo

In [ ]:
s = pd.Series([1, 2, 3, 4, 2, 5, 6])

print(s.count())
print(s.value_counts())
print(s.value_counts(normalize=True))
print(s.min())
print(s.max())
print(s.var())
print(s.std())

In [ ]:
print(s.describe())

In [ ]:
print(s.sum())
print(s.cumsum())

#### Operariones

In [ ]:
s * 2
s % 2

In [ ]:
st = pd.Series(['a', 'b', 'c'])
st*4

In [ ]:
help(s.apply)

In [ ]:
import math
import numpy as np
s.apply(np.sqrt)

In [ ]:
st.apply(str.upper)

In [ ]:
def mifunc(val):
    return str(val).upper()

s.apply(lambda x: x*2+3)

st.apply(mifunc)

#### Filtrar y ordenar

In [ ]:
mask  = s > 2
print(mask)

s2 = s[mask]
print(s2)
print(s)

In [ ]:
s.sort_values()
s.sort_index(ascending=False)

In [ ]:
sx = pd.Series(['a', 'b', None, 'c', np.nan, 'd'])
print(sx)

sy = sx.dropna()
print(sy)

In [ ]:
help(sx.drop)

## DataFrames

### Creación

In [ ]:
help(pd.DataFrame)

In [45]:

diccionario = {
    'nombre': ['María', 'Luis', 'Carmen', 'Antonio'],
    'edad': [18, 22, 20, 21],
    'grado': ['Economía', 'Medicina', 'Arquitectura', 'Economía'],
    'correo': ['maria@gmail.com', 'luis@yahoo.es', 'carmen@gmail.com', 'antonio@gmail.com']
}

lista_de_listas = [['María', 18],
                   ['Luis', 22],
                   ['Carmen', 20]]

lista_de_dicts = [{'Nombre': 'María', 'Edad': 18},
                  {'Nombre': 'Luis', 'Edad': 22},
                  {'Nombre': 'Carmen'}]

In [ ]:
df = pd.DataFrame(diccionario)
df

In [ ]:
df = pd.DataFrame(lista_de_dicts)
df

In [ ]:
df = pd.DataFrame(lista_de_listas, columns=['Nombre','Edad'])
df

#### Desde fuentes

In [ ]:
dfcol = pd.read_csv("../data/colesterol.csv")
print(dfcol)

In [ ]:
dfcol = pd.read_csv("https://github.com/ricardoahumada/DataScienceBasics/raw/refs/heads/main/data/colesterol.csv")
print(dfcol)

In [ ]:
dffr = pd.read_json('../data/frutas.json')
dffr

In [ ]:
# !pip install sqlite3
import sqlite3

con_sqlt = sqlite3.connect("../data/database.db")
dfdb = pd.read_sql_query("SELECT * FROM movies", con_sqlt)
con_sqlt.close()

dfdb

### Exportar

In [ ]:
# !pip install openpyxl

In [ ]:
dfxl = pd.read_excel("../data/FoodMarket.xlsx", sheet_name='Purchases')
dfxl

In [73]:
dfxl.to_json('../data/Purchases.json')

In [ ]:
con_sqlt = sqlite3.connect("../data/database.db")

dffr.to_sql(name="frutas", con=con_sqlt)

# con_sqlt.close()

### Atributos

In [ ]:
dfxl.info()
dfcol.info()

In [ ]:
dfcol.size
dfcol.shape
dfxl.shape

In [ ]:
print(dfxl.columns)
print(dfxl.index)
print(dfxl.axes)
print(dfxl.values)

In [ ]:
print(dfcol.dtypes)

In [ ]:
dfxl.head(10)

In [ ]:
dfxl.tail(10)

In [ ]:
dfxl.describe()

### Renombrar y modificar: índices y columnas

In [112]:
dfcol.rename(columns={'nombre': 'nombre y apellido', 'peso': 'pesos'}, index={0: 1000, 10: 101}, inplace=True)

In [ ]:
dfcol

In [ ]:
dfcol.set_index("nombre y apellido")

In [ ]:
dfcol.reindex(index=[4, 3, 1], columns=['edad', 'altura'])

### Acceso y filtrar

In [ ]:
help(dfcol.loc)

In [ ]:
help(dfcol.iloc)

In [168]:
dfcol

                    nombre y apellido  edad sexo  pesos  altura  colesterol
1000     José Luis Martínez Izquierdo    18    H   85.0    1.79       182.0
1                      Rosa Díaz Díaz    32    M   65.0    1.73       232.0
2               Javier García Sánchez    24    H    NaN    1.81       191.0
3                 Carmen López Pinzón    35    M   65.0    1.70       200.0
4                Marisa López Collado    46    M   51.0    1.58       148.0
5                   Antonio Ruiz Cruz    68    H   66.0    1.74       249.0
6             Antonio Fernández Ocaña    51    H   62.0    1.72       276.0
7               Pilar Martín González    22    M   60.0    1.66         NaN
8                Pedro Gálvez Tenorio    35    H   90.0    1.94       241.0
9             Santiago Reillo Manzano    46    H   75.0    1.85       280.0
101             Macarena Álvarez Luna    53    M   55.0    1.62       262.0
11         José María de la Guía Sanz    58    H   78.0    1.87       198.0
12    Miguel Angel Cuadrado Gutiérrez    27    H  109.0    1.98       210.0
13              Carolina Rubio Moreno    20    M   61.0    1.77       194.0

In [ ]:
dfcol[['altura','pesos']]

In [ ]:
dfcol.iloc[1,:3]

In [ ]:
dfcol.iloc[1:5, 2:4]

In [ ]:
dfcol.loc[2:, ['colesterol','pesos']]

In [ ]:
mask = dfcol.loc[:, 'pesos'] > 70
print(mask)
dfcol[mask]

In [ ]:
mask = dfcol.loc[:, ['pesos', 'altura']] > [70, 1.5]
mask
dfcol[mask]

In [171]:
mask = dfcol.isin([20, 1.7,'Javier García Sánchez'])
print(mask)
dfcol[mask]

      nombre y apellido   edad   sexo  pesos  altura  colesterol
1000              False  False  False  False   False       False
1                 False  False  False  False   False       False
2                  True  False  False  False   False       False
3                 False  False  False  False    True       False
4                 False  False  False  False   False       False
5                 False  False  False  False   False       False
6                 False  False  False  False   False       False
7                 False  False  False  False   False       False
8                 False  False  False  False   False       False
9                 False  False  False  False   False       False
101               False  False  False  False   False       False
11                False  False  False  False   False       False
12                False  False  False  False   False       False
13                False   True  False  False   False       False

          nombre y apellido  edad sexo  pesos  altura  colesterol
1000                    NaN   NaN  NaN    NaN     NaN         NaN
1                       NaN   NaN  NaN    NaN     NaN         NaN
2     Javier García Sánchez   NaN  NaN    NaN     NaN         NaN
3                       NaN   NaN  NaN    NaN     1.7         NaN
4                       NaN   NaN  NaN    NaN     NaN         NaN
5                       NaN   NaN  NaN    NaN     NaN         NaN
6                       NaN   NaN  NaN    NaN     NaN         NaN
7                       NaN   NaN  NaN    NaN     NaN         NaN
8                       NaN   NaN  NaN    NaN     NaN         NaN
9                       NaN   NaN  NaN    NaN     NaN         NaN
101                     NaN   NaN  NaN    NaN     NaN         NaN
11                      NaN   NaN  NaN    NaN     NaN         NaN
12                      NaN   NaN  NaN    NaN     NaN         NaN
13                      NaN  20.0  NaN    NaN     NaN         NaN

In [ ]:
mask = ~dfcol.isin({'pesos':[75,85],'edad':[35]})
print(mask)
dfcol[mask]

      nombre y apellido   edad  sexo  pesos  altura  colesterol
1000               True   True  True  False    True        True
1                  True   True  True   True    True        True
2                  True   True  True   True    True        True
3                  True  False  True   True    True        True
4                  True   True  True   True    True        True
5                  True   True  True   True    True        True
6                  True   True  True   True    True        True
7                  True   True  True   True    True        True
8                  True  False  True   True    True        True
9                  True   True  True  False    True        True
101                True   True  True   True    True        True
11                 True   True  True   True    True        True
12                 True   True  True   True    True        True
13                 True   True  True   True    True        True

                    nombre y apellido  edad sexo  pesos  altura  colesterol
1000     José Luis Martínez Izquierdo  18.0    H    NaN    1.79       182.0
1                      Rosa Díaz Díaz  32.0    M   65.0    1.73       232.0
2               Javier García Sánchez  24.0    H    NaN    1.81       191.0
3                 Carmen López Pinzón   NaN    M   65.0    1.70       200.0
4                Marisa López Collado  46.0    M   51.0    1.58       148.0
5                   Antonio Ruiz Cruz  68.0    H   66.0    1.74       249.0
6             Antonio Fernández Ocaña  51.0    H   62.0    1.72       276.0
7               Pilar Martín González  22.0    M   60.0    1.66         NaN
8                Pedro Gálvez Tenorio   NaN    H   90.0    1.94       241.0
9             Santiago Reillo Manzano  46.0    H    NaN    1.85       280.0
101             Macarena Álvarez Luna  53.0    M   55.0    1.62       262.0
11         José María de la Guía Sanz  58.0    H   78.0    1.87       198.0
12    Miguel Angel Cuadrado Gutiérrez  27.0    H  109.0    1.98       210.0
13              Carolina Rubio Moreno  20.0    M   61.0    1.77       194.0