# Pandas

In [1]:
import pandas as pd

## Series

In [ ]:
help(pd.Series)

In [ ]:
s = pd.Series([1, 2, 3, 4, 5, 6])
s

In [ ]:
s = pd.Series({'math':10, 'leng':7, 'art': 2})
s

In [ ]:
print(s.size)
print(s.index)
print(s.dtype)

In [ ]:
print(s['math'])
print(s[1])
print(s[:2])
print(s[['leng','art']])

#### Resumen descriptivo

In [ ]:
s = pd.Series([1, 2, 3, 4, 2, 5, 6])

print(s.count())
print(s.value_counts())
print(s.value_counts(normalize=True))
print(s.min())
print(s.max())
print(s.var())
print(s.std())

In [ ]:
print(s.describe())

In [ ]:
print(s.sum())
print(s.cumsum())

#### Operariones

In [ ]:
s * 2
s % 2

In [ ]:
st = pd.Series(['a', 'b', 'c'])
st*4

In [ ]:
help(s.apply)

In [ ]:
import math
import numpy as np
s.apply(np.sqrt)

In [ ]:
st.apply(str.upper)

In [ ]:
def mifunc(val):
    return str(val).upper()

s.apply(lambda x: x*2+3)

st.apply(mifunc)

#### Filtrar y ordenar

In [ ]:
mask  = s > 2
print(mask)

s2 = s[mask]
print(s2)
print(s)

In [ ]:
s.sort_values()
s.sort_index(ascending=False)

In [ ]:
sx = pd.Series(['a', 'b', None, 'c', np.nan, 'd'])
print(sx)

sy = sx.dropna()
print(sy)

In [ ]:
help(sx.drop)

## DataFrames

### Creación

In [ ]:
help(pd.DataFrame)

In [45]:

diccionario = {
    'nombre': ['María', 'Luis', 'Carmen', 'Antonio'],
    'edad': [18, 22, 20, 21],
    'grado': ['Economía', 'Medicina', 'Arquitectura', 'Economía'],
    'correo': ['maria@gmail.com', 'luis@yahoo.es', 'carmen@gmail.com', 'antonio@gmail.com']
}

lista_de_listas = [['María', 18],
                   ['Luis', 22],
                   ['Carmen', 20]]

lista_de_dicts = [{'Nombre': 'María', 'Edad': 18},
                  {'Nombre': 'Luis', 'Edad': 22},
                  {'Nombre': 'Carmen'}]

In [ ]:
df = pd.DataFrame(diccionario)
df

In [ ]:
df = pd.DataFrame(lista_de_dicts)
df

In [ ]:
df = pd.DataFrame(lista_de_listas, columns=['Nombre','Edad'])
df

#### Desde fuentes

In [ ]:
dfcol = pd.read_csv("../data/colesterol.csv")
print(dfcol)

In [ ]:
dfcol = pd.read_csv("https://github.com/ricardoahumada/DataScienceBasics/raw/refs/heads/main/data/colesterol.csv")
print(dfcol)

In [ ]:
dffr = pd.read_json('../data/frutas.json')
dffr

In [ ]:
# !pip install sqlite3
import sqlite3

con_sqlt = sqlite3.connect("../data/database.db")
dfdb = pd.read_sql_query("SELECT * FROM movies", con_sqlt)
con_sqlt.close()

dfdb

### Exportar

In [ ]:
# !pip install openpyxl

In [ ]:
dfxl = pd.read_excel("../data/FoodMarket.xlsx", sheet_name='Purchases')
dfxl

In [73]:
dfxl.to_json('../data/Purchases.json')

In [ ]:
con_sqlt = sqlite3.connect("../data/database.db")

dffr.to_sql(name="frutas", con=con_sqlt)

# con_sqlt.close()

### Atributos

In [ ]:
dfxl.info()
dfcol.info()

In [ ]:
dfcol.size
dfcol.shape
dfxl.shape

In [ ]:
print(dfxl.columns)
print(dfxl.index)
print(dfxl.axes)
print(dfxl.values)

In [ ]:
print(dfcol.dtypes)

In [ ]:
dfxl.head(10)

In [ ]:
dfxl.tail(10)

In [ ]:
dfxl.describe()

### Renombrar y modificar: índices y columnas

In [112]:
dfcol.rename(columns={'nombre': 'nombre y apellido', 'peso': 'pesos'}, index={0: 1000, 10: 101}, inplace=True)

In [ ]:
dfcol

In [ ]:
dfcol.set_index("nombre y apellido")

In [ ]:
dfcol.reindex(index=[4, 3, 1], columns=['edad', 'altura'])

### Acceso y filtrar

In [ ]:
help(dfcol.loc)

In [ ]:
help(dfcol.iloc)

In [ ]:
dfcol

In [ ]:
dfcol[['altura','pesos']]

In [ ]:
dfcol.iloc[1,:3]

In [ ]:
dfcol.iloc[1:5, 2:4]

In [ ]:
dfcol.loc[2:, ['colesterol','pesos']]

In [ ]:
mask = dfcol.loc[:, 'pesos'] > 70
print(mask)
dfcol[mask]

In [ ]:
mask = dfcol.loc[:, ['pesos', 'altura']] > [70, 1.5]
mask
dfcol[mask]

In [ ]:
mask = dfcol.isin([20, 1.7,'Javier García Sánchez'])
print(mask)
dfcol[mask]

In [ ]:
mask = ~dfcol.isin({'pesos':[75,85],'edad':[35]})
print(mask)
dfcol[mask]

In [ ]:
dfcol[mask].dropna()